---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

@import "_sugar/_vendors/normalize";
@import "_saltw/_theme/family";
// @import "cliente/_theme/fonts";
@import "_sugar/_vendors/animate";


@import "_sugar/_base/_base";


@import "_sugar/_utils/z-index";
@import "_sugar/_utils/funciones";


@import "_saltw/_theme/medidas";


@import "_saltw/_theme/colores";


// @import "cliente/_theme/shadows";


@import "_saltw/_theme/tipografia";


@import "_sugar/_utils/utils";
@import "_sugar/_components/components";


// @import "cliente/views/web/legal";
// @import "cliente/views/comunes";
// @import "cliente/views/web/index";
// @import "cliente/views/contactos/contactos-new";


@import "_saltw/_layout/header";
// @import "cliente/_layout/footer";
// @import "cliente/_layout/mapa";

// @import "cliente/_theme/admin";
@import "_saltw/_theme/tema";
