---
layout: default
title: Categorias
permalink: /blog/classificaçao/
ref: cat-index
lang: pt
---

<article class="post">
    <header>
        <h2>{{ page.title }}</h2>
        <!-- nav site.categories -->
        {% include nav-site-cats.html origin="cat-index" ulclass="tagcloud-flexbox" spanclass="fl" liclasssvg="svg" liclasselse="aHoverXl" svg="folder"%}
    </header>
    <!-- section categories.posts[] -->
    <!-- include site.tags-->
    {% include blog-cat-index.html origin="cat-index" %}
</article>
