---
layout: default
title: Categorías
permalink: /blog/categorias/
ref: cat-index
lang: es
metaDescription: "Describe en 115 caracteres lo que tus usuarios pueden encontrar en tu índice de categorías del blog de tu website. "
metaOgDescription: "Describe en 200 caracteres lo que tus usuarios pueden encontrar en tu índice de categorías del blog de tu website. "
---

<article class="post">
    <header>
        <h2>{{ page.title }}</h2>
        <!-- nav site.categories -->
        {% include nav-site-cats.html origin=page.ref ulclass="tagcloud-flexbox" spanclass="fl" liclasselse="aHoverXl" svg="folder" %}
    {% include nav-site-tags.html origin=prefixid ulclass="tagcloud-bores-flexbox" spanclass="fl" liclasselse="aHoverXl" svg="tag" %}
    </header>
    <!-- section categories.posts[] -->
    <!-- include site.tags-->
    {% include blog-cat-index.html origin=page.ref %}
</article>
