---
layout: default
title: Sumário
permalink: /blog/classificaçao.html
ref: blog-index
lang: pt
metaDescription: "Descreva em 115 caracteres o que seus usuários podem atopar no índice de artigos do Blog do seu site."
metaOgDescription: "Descreva em 200 caracteres o que seus usuários podem atopar no índice de artigos do Blog do seu site."
nomap: 1
---

<article class="page">
    <header>
        <h2>{{ page.title }}</h2>
        <nav>
            {% include ul-site-cats.html origin=page.ref classUlLabs="tagcloud-flexbox" classSpanIconLab="fl" liclasselse="aHoverXl" svg="folder" %}
        </nav>
        <nav>
            {% include ul-site-tags.html origin=prefixid classUlLabs="tagcloud-bores-flexbox" classSpanIconLab="fl" liclasselse="aHoverXl" svg="tag" %}
        </nav>
    </header>
    <p>Índice de conteúdo ou de categorias e rótulos de todos os artigos do Blog de {{site.tradename}} para acesso fácil ao conteúdo que o interessa. Por data de atualização, autor, tema ou a rotulagem, oferecemos acesso direto ao artigo que você procura.</p>

    {% include blog-index.html origin=page.ref seccion1='Categorías' seccion2='Etiquetas' %}
</article>
