---
layout: default
title: Summary
permalink: /blog/classification.html
ref: blog-index
lang: en
metaDescription: "Describe in 115 characters what your users can find in the Summary of articles in Saltw Blog."
metaOgDescription: "Describe in 200 characters what your users can find in the Summary of articles in Saltw Blog."
nomap: 1
---

<article class="page">
    <header>
        <h2>{{ page.title }}</h2>
        <nav>
            {% include ul-site-labs.html id=page.ref showcats=true iconcat='folder' classUlLabs="tagcloud-flexbox" classLiLabs='svg' classSpanIconLab="fl" classLiElse="aHoverXl" %}
        </nav>
        <nav>
            {% include ul-site-labs.html id=page.ref showtags=true icontag='tag' classUlLabs="tagcloud-bores-flexbox" classLiLabs='svg' classSpanIconLab="fl" classLiElse="aHoverXl" %}
        </nav>
    </header>
    <p>Sections of contents or index of categories and tags of all the articles of {{site.tradename}} Blog to easily find the content that interests you. By date of update, author, theme or tags, we provide you with direct access to the article you are looking for.</p>

    {% include blog-index.html id=page.ref seccion1='Categories' seccion2='Tags' %}
</article>
