---
layout: default
title: Categorías
permalink: /blog/categorias/
ref: cat-index
lang: es
metaDescription: "Describe en 115 caracteres lo que tus usuarios pueden encontrar en tu índice de categorías del blog de tu website. "
metaOgDescription: "Describe en 200 caracteres lo que tus usuarios pueden encontrar en tu índice de categorías del blog de tu website. "
---

<article class="post">
    <header>
        <h2>{{ page.title }}</h2>
        {% include nav-blog-cat-icon.html iconid="cat-index" ulclass="tagcloud-flexbox" aclass="cross-centro" %}
    </header>
    {% include blog-cat-index.html %}
</article>
