---
layout: default
title: Contacto
permalink: /contacto.html
ref: contact
lang: es
metaDescription: "Describe en 115 caracteres lo que tus usuarios pueden encontrar en tu página de contacto. "
metaOgDescription: "Describe en 200 caracteres lo que tus usuarios pueden encontrar en tu página de contacto. "
---

<article class="page">
    <header>
        <h2>{{ page.title }}</h2>
        <p>{{ site.title[page.lang] }}</p>
        <nav>
            {% include ul-site-cats.html origin=page.ref ulclass="tagcloud-flexbox" spanclass="fl" liclasselse="aHoverXl" svg="folder" %}
        </nav>
        <nav>
            {% include ul-site-tags.html origin=prefixid ulclass="tagcloud-bores-flexbox" spanclass="fl" liclasselse="aHoverXl" svg="tag" %}
        </nav>
        <!-- nav site.categories -->
    </header>

    <nav>
        <ul class="abcenter">
                {% capture hover %}
                    {{ site.tradename }} {{ site.data.t[page.lang].page.seguir }}
                {% endcapture %}
            {% include ul-social.html ul="follow" webuser=site.tradename sjobs=true sme=true iconid="contact1" liclass="follow" spansvg="circulo" spant="titulo" spanth="titulo-hover" username=false hover=hover %}
        </ul>
    </nav>
    <nav>
        <ul>
            {% include ul-social.html ul="follow" webuser=site.tradename ssite=true iconid="contact2" liclass="svg-icon" username=false %}
        </ul>
    </nav>

    <p>{{ site.description[page.lang] }}</p>
</article>
