---
layout: default
permalink: /home.html
ref: index
lang: en
description: Slogan of your Personal Brand for search engines, the description of your site in RSS and for your general public (156 characters for Google -115 for mobile-)
---

<article>
    <header>
        <h2>{{ site.title[page.lang] }}</h2>
        <p>{{ site.subtitle[page.lang] }}</p>
        <nav></nav>
    </header>
    <p>Hello! My name’s <strong>Saltw <i>acronym of Sonia Álvarez Técnicas Web </i></strong>and I love to make complicated things simple. I <strong>design and build products & web sites <i>subjectively fun and functional digital experiences </i></strong>for <strong>people <i>who like things that feel good and work well and are not frustrating</i></strong>.<a href="#"> read more about me</a> or <a href="#">say hello!</a></p>

    {% include paginate.html %}

    <aside class="tagcloud-livejournal">
        {% include ul-site-tags.html origin=prefixid classUlLabs="" classSpanIconLab="fl" liclasselse="aHoverXl" %}
    </aside>
</article>
