---
layout: default
permalink: /lar.html
ref: index
lang: gl
description: Slogan da túa Marca Persoal pra buscadores, prá descripción dó teu sitio en rss e pró teu público en xeral (156 caracteres pra Google -115 pra móvil-)
---

<article class="pepe">
    <header>
        <h2>{{ site.title[page.lang] }}</h2>
        <p>{{ site.subtitle[page.lang] }}</p>
        <nav></nav>
    </header>
    <p>Ola! Son <strong>{{ site.tradename }}<i> alias de {{ site.alternatename[page.lang] }}</i></strong> e son feliz de simplificar toda cousa enredosa. <strong>Deseño i elaboro produtos, prototipos e sitios web <i>experiencias dixitais amenas i eficaces </i></strong> prá <strong>xente <i>que guste de atopar o que procura, onde estares a gusto e sen frustracións</i>. </strong><a href="#">¡le máis sobre min! </a> ou <a href="#">dime ola!</a>

    {% include paginate.html %}

    <aside class="tagcloud-livejournal">
        {% include ul-site-tags.html origin=prefixid classUlLabs="" classSpanIconLab="fl" liclasselse="aHoverXl" %}
    </aside>
</article>
