@mixin tagcloud-color-tags (
    $color1: colorea($color-b, l3),
    $bs1: colorea($color-b, l2),
    $color2: colorea($color-t1, l3),
    $bs2: colorea($color-t1, l2),
    $color3: colorea($color-t2, l3),
    $bs3: colorea($color-t2, l2)
){
    // font-size: 0.7em;
    & li {
        position: relative;
        display: inline-block;
        content: "";
        height: 41px;
        margin: 0 1em 0.4em 0;
        padding: 0.4em 1.5em 0.4em 1.1em;
        font-size: inherit;
        border: 0 solid rgba(0,0,0,0);
        border-radius: 4px 1px 1px 4px;
        color: rgba(255,255,255,1);
        text-align: center;
        text-overflow: ellipsis;
        & a {
            display: block;
            line-height: 30px;
            font-size: inherit;
            white-space: nowrap;
        }

        &:before {
            position: absolute;
            content: "";
            display: inline-block;
            z-index: 1;
            width: 30px;
            height: 30px;
            top: 6px;
            right: -16px;
            border-radius: 1px 1px 4px;
            color: rgba(255,255,255,0.9);
            -webkit-transform: rotateY(1deg) rotateZ(-45deg) scaleX(1) scaleY(1) scaleZ(1);
            transform: rotateY(1deg) rotateZ(-45deg) scaleX(1) scaleY(1) scaleZ(1);
        }

        &:after {
            position: absolute;
            content: "";
            display: inline-block;
            z-index: 2;
            width: 12px;
            height: 12px;
            top: 16px;
            right: 0;
            border: 0 solid #018dc4;
            border-radius: 10px;
            color: rgba(255,255,255,0.9);
            background: #fcfcfc;
        }
        &:nth-child(3n+1) {
            background: $color1;
            -webkit-box-shadow: 0 5px 0 0 $bs1 , 5px 5px 0 0 $bs1;
                    box-shadow: 0 5px 0 0 $bs1 , 5px 5px 0 0 $bs1;
            &:before {
                background: $color1;
                border: 0 solid $color1;
                -webkit-box-shadow: 0 6px 0 0 $bs1;
                        box-shadow: 0 6px 0 0 $bs1;
            }
            &:after {
                -webkit-box-shadow: 5px 5px 0 0 $bs1 inset;
                        box-shadow: 5px 5px 0 0 $bs1 inset;
            }
        }
        &:nth-child(3n+2) {
            background: $color2;
            -webkit-box-shadow: 0 5px 0 0 $bs2 , 5px 5px 0 0 $bs2;
                    box-shadow: 0 5px 0 0 $bs2 , 5px 5px 0 0 $bs2;
            &:before {
                background: $color2;
                border: 0 solid $color2;
                -webkit-box-shadow: 0 6px 0 0 $bs2;
                        box-shadow: 0 6px 0 0 $bs2;
            }
            &:after {
                -webkit-box-shadow: 5px 5px 0 0 $bs2 inset;
                        box-shadow: 5px 5px 0 0 $bs2 inset;
            }
        }
        &:nth-child(3n) {
            background: $color3;
            -webkit-box-shadow: 0 5px 0 0 $bs3 , 5px 5px 0 0 $bs3;
                    box-shadow: 0 5px 0 0 $bs3 , 5px 5px 0 0 $bs3;
            &:before {
                background: $color3;
                border: 0 solid $color3;
                -webkit-box-shadow: 0 6px 0 0 $bs3;
                        box-shadow: 0 6px 0 0 $bs3;
            }
            &:after {
                -webkit-box-shadow: 5px 5px 0 0 $bs3 inset;
                        box-shadow: 5px 5px 0 0 $bs3 inset;
            }
        }
    }
}


@mixin tagcloud-livejournal (
    $container: ul,
    $item: li,
    $h: auto,
    $p: 5%,
    $changecolor: 1,
    $bg: $bg-tag,
    $color1: $color-small,
    $color2: $color-link,
    $ss: 15s
){

    @-webkit-keyframes change-bicolor {
        0% {
            color: $bg;     // background
        }
        45% {
            color: $color1;
        }
        50% {
            color: $color2;
        }
        55% {
            color: $color1;
        }
        100% {
            color: $bg;     // background
        }
    }
    @-webkit-keyframes livejournal {
        0% {
            -webkit-transform: scale(1) perspective(60vw) translate3d(0,-10vw,-40vw);
                    transform: scale(1) perspective(60vw) translate3d(0,-10vw,-40vw);
            opacity: 0;
        }
        25% {
            -webkit-transform: scale(1.1) perspective(60vw) translate3d(0,-5vw,-20vw);
                    transform: scale(1.1) perspective(60vw) translate3d(0,-5vw,-20vw);
            opacity: .8;
        }
        45% {
            -webkit-transform: scale(1.2) perspective(60vw) translate3d(0,-1vw,0);
                    transform: scale(1.2) perspective(60vw) translate3d(0,-1vw,0);
            opacity: 1;
        }
        50% {
            -webkit-transform: scale(1.3) perspective(60vw) translate3d(0,0,0);
                    transform: scale(1.3) perspective(60vw) translate3d(0,0,0);
            opacity: 1;
        }
        55% {
            -webkit-transform: scale(1.2) perspective(60vw) translate3d(0,1vw,0);
                    transform: scale(1.2) perspective(60vw) translate3d(0,1vw,0);
            opacity: 1;
        }
        75% {
            -webkit-transform: scale(1.1) perspective(60vw) translate3d(0,5vw,-20vw);
                    transform: scale(1.1) perspective(60vw) translate3d(0,5vw,-20vw);
            opacity: .8;
        }
        100% {
            -webkit-transform: scale(1) perspective(60vw) translate3d(0,10vw,-40vw);
                    transform: scale(1) perspective(60vw) translate3d(0,10vw,-40vw);
            opacity: .1;
        }
    }

    @keyframes change-bicolor {
        0% {
            color: $bg;     // background
        }
        45% {
            color: $color1;
        }
        50% {
            color: $color2;
        }
        55% {
            color: $color1;
        }
        100% {
            color: $bg;     // background
        }
    }

    @keyframes livejournal {
        0% {
            -webkit-transform: scale(1) perspective(60vw) translate3d(0,-10vw,-40vw);
                    transform: scale(1) perspective(60vw) translate3d(0,-10vw,-40vw);
            opacity: 0;
        }
        25% {
            -webkit-transform: scale(1.1) perspective(60vw) translate3d(0,-5vw,-20vw);
                    transform: scale(1.1) perspective(60vw) translate3d(0,-5vw,-20vw);
            opacity: .8;
        }
        45% {
            -webkit-transform: scale(1.2) perspective(60vw) translate3d(0,-1vw,0);
                    transform: scale(1.2) perspective(60vw) translate3d(0,-1vw,0);
            opacity: 1;
        }
        50% {
            -webkit-transform: scale(1.3) perspective(60vw) translate3d(0,0,0);
                    transform: scale(1.3) perspective(60vw) translate3d(0,0,0);
            opacity: 1;
        }
        55% {
            -webkit-transform: scale(1.2) perspective(60vw) translate3d(0,1vw,0);
                    transform: scale(1.2) perspective(60vw) translate3d(0,1vw,0);
            opacity: 1;
        }
        75% {
            -webkit-transform: scale(1.1) perspective(60vw) translate3d(0,5vw,-20vw);
                    transform: scale(1.1) perspective(60vw) translate3d(0,5vw,-20vw);
            opacity: .8;
        }
        100% {
            -webkit-transform: scale(1) perspective(60vw) translate3d(0,10vw,-40vw);
                    transform: scale(1) perspective(60vw) translate3d(0,10vw,-40vw);
            opacity: .1;
        }
    }

    #{$container},
    .#{$container} {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-line-pack: distribute;
            align-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        // width: 30vw;
        height: $h;
        margin: auto;
        padding: $p;
        background: $bg;
        overflow: hidden;
        // background-image: linear-gradient(to bottom, $color, transparent 15%, transparent 85%, $color 100%), linear-gradient(to right, $color, transparent 5%, transparent 95%, $color 100%);
        // color: $color;
        // border: 10px solid white;
        // -webkit-box-shadow: 2px 2px 8px 3px rgba(69,69,69,.5);
        //         box-shadow: 2px 2px 8px 3px rgba(69,69,69,.5);
        -webkit-box-sizing: content-box;
                box-sizing: content-box;
        background-clip: padding-box;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        -webkit-transform-origin: center center;
                transform-origin: center center;
        zoom: 1;

        & #{$item},
        & .#{$item} {
            -webkit-box-flex: 0;
                -ms-flex: 0 1 auto;
                    flex: 0 1 auto;
            -ms-flex-item-align: center;
                align-self: center;
            max-width: 30vw;
            padding: 6px;
            text-align: center;
            font-family: 'Crimson Text', cursive;
            font-style: normal;
            font-weight: 700;
            // font-size: 16px;
            // background: transparent;
            // color: white;
            white-space: pre-wrap;
            -webkit-transform-style: preserve-3d;
                    transform-style: preserve-3d;
            -webkit-transform-origin: center center;
                    transform-origin: center center;
            -webkit-transform: perspective(60vw) translate3d(0,-10vw,-40vw);
                    transform: perspective(60vw) translate3d(0,-10vw,-40vw);
            @if ($changecolor == 1) {
                -webkit-animation: livejournal $ss linear infinite normal, change-bicolor $ss linear infinite normal;
                animation: livejournal $ss linear infinite normal, change-bicolor $ss linear infinite normal;

            } @else {
                -webkit-animation: livejournal $ss linear infinite normal;
                animation: livejournal $ss linear infinite normal;
            }
            opacity: 0;

            &:hover, &:focus, &:target {
                -webkit-animation-play-state: paused;
                animation-play-state: paused;
            }
            &:nth-of-type(1) {
                -webkit-animation-delay: 1s;
                animation-delay: 1s;
                -webkit-animation-duration: ($ss - 1s);
                animation-duration: ($ss - 1s);
            }
            &:nth-of-type(3) {
                -webkit-animation-delay: 4s;
                animation-delay: 4s;
                -webkit-animation-duration: ($ss - 2s);
                animation-duration: ($ss - 2s);
            }
            &:nth-of-type(5) {
                -webkit-animation-delay: 3s;
                animation-delay: 3s;
                -webkit-animation-duration: ($ss - 3s);
                animation-duration: ($ss - 3s);
            }
            &:nth-of-type(7) {
                -webkit-animation-delay: 2s;
                animation-delay: 2s;
                -webkit-animation-duration: ($ss - 4s);
                animation-duration: ($ss - 4s);
            }
            &:nth-of-type(9) {
                -webkit-animation-delay: 5s;
                animation-delay: 5s;
                -webkit-animation-duration: ($ss - 2s);
                animation-duration: ($ss - 2s);
            }
            &:nth-of-type(11) {
                -webkit-animation-delay: 3s;
                animation-delay: 3s;
                -webkit-animation-duration: ($ss - 3s);
                animation-duration: ($ss - 3s);
            }
            &:nth-of-type(13) {
                -webkit-animation-delay: 2s;
                animation-delay: 2s;
                -webkit-animation-duration: ($ss - 1s);
                animation-duration: ($ss - 1s);
            }
            &:nth-of-type(15) {
                -webkit-animation-delay: 4s;
                animation-delay: 4s;
                -webkit-animation-duration: ($ss - 5s);
                animation-duration: ($ss - 5s);
            }
            &:nth-of-type(17) {
                -webkit-animation-delay: 6s;
                animation-delay: 6s;
                -webkit-animation-duration: ($ss - 3s);
                animation-duration: ($ss - 3s);
            }
            &:nth-of-type(19) {
                -webkit-animation-delay: 3s;
                animation-delay: 3s;
                -webkit-animation-duration: ($ss - 4s);
                animation-duration: ($ss - 4s);
            }
            &:nth-of-type(21) {
                -webkit-animation-delay: 4s;
                animation-delay: 4s;
                -webkit-animation-duration: ($ss - 2s);
                animation-duration: ($ss - 2s);
            }
            &:nth-of-type(23) {
                -webkit-animation-delay: 2s;
                animation-delay: 2s;
                -webkit-animation-duration: ($ss - 3s);
                animation-duration: ($ss - 3s);
            }
            &:nth-of-type(25) {
                -webkit-animation-delay: 5s;
                animation-delay: 5s;
                -webkit-animation-duration: ($ss - 1s);
                animation-duration: ($ss - 1s);
            }
        }
    }
}

@mixin tagcloud-flex (
    $item: li,
    $aire: 0.25em,
    $bg: $bg-tag,
    $ta: center,
    $td: none,
    $br: 3px
){
    // Container

    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    // -webkit-flex-flow: row wrap;
    // flex-flow: row wrap;

    & #{$item},
    & .#{$item} {
        // -webkit-flex: 1 auto;
        // -webkit-box-flex: 1;
        //     -ms-flex: 1 auto;
        //         flex: 1 auto;
        padding: $aire;
        text-align: $ta;

        & a {
            width: 100%;
            height: 100%;
            padding: $aire 2*$aire;
            background: $bg;
            -webkit-text-decoration: $td;
                    text-decoration: $td;
            border-radius: $br;
        }
    }
}

@mixin tagcloud-flex-wrap (
    $item: li,
    $aire: 0.25em,
    $bg: $bg-tag,
    $ta: center,
    $td: none,
    $br: 3px
){
    @include tagcloud-flex($item, $aire, $bg, $ta, $td, $br);
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

@mixin tagcloud-flex-auto (
    $item: li,
    $aire: 0.25em,
    $bg: $bg-tag,
    $ta: center,
    $td: none,
    $br: 3px
){
    @include tagcloud-flex-wrap($item, $aire, $bg, $ta, $td, $br);

    & #{$item},
    & .#{$item} {
        -webkit-flex: 1 auto;
        -webkit-box-flex: 1;
            -ms-flex: 1 auto;
                flex: 1 auto;
    }
}

@mixin tagcloud-bores (
    $item: li,
    $aire: 0.25em,
    $bgbore: $bg-body,
    $bs: $bs2250
){

    #{$item},
    .#{$item} {
        & a {
            position: relative;
            margin-right: 4*$aire;
            -webkit-box-shadow: $bs;
                    box-shadow: $bs;
            &:after {
                position: absolute;
                display: inline-block;
                content: "";
                top: 2*$aire;
                right: 2*$aire;
                width: 2*$aire;
                height: 2*$aire;
                border-radius: 100%;
                -webkit-box-shadow: $bs inset;
                        box-shadow: $bs inset;
                background: $bgbore;
            }
        }
    }
}

@mixin tagcloud-bores-flex (
    $item: li,
    $aire: 0.25em,
    $bgtag: $bg-tag,
    $bgbore: $bg-body,
    $bs: $bs2250,
    $ta: center,
    $td: none,
    $br: 3px
){
    @include tagcloud-flex-wrap($item, $aire, $bgtag, $ta, $td, $br);
    @include tagcloud-bores($item, $aire, $bgbore, $bs);
}

@mixin tagcloud-bores-flex-auto (
    $item: li,
    $aire: 0.25em,
    $bgtag: $bg-tag,
    $bgbore: $bg-body,
    $bs: $bs2250,
    $ta: center,
    $td: none,
    $br: 3px
){
    @include tagcloud-flex-auto($item, $aire, $bgtag, $ta, $td, $br);
    @include tagcloud-bores($item, $aire, $bgbore, $bs);
}

@mixin tagcloud-flexbox-buttons (
    $item: li,
    $aire: 0.25em,
    $bgtag: #eee,
    $bgbore: $bg-body,
    $bs: #e1e1e1,
    $br: 3px
    ){
    @include tagcloud-bores-flex-auto($item, $aire, $bgtag, $bgbore, $bs, $br);

    #{$item},
    .#{$item} {
        border-radius: $br;
        a {
            $map:(bg: #e1e1e1, color: $color-body, color--hover: $color-title, border-bottom: none);
            @include boton-gradient($map...);
        }
        &:hover, &:focus, &:target {
            & a {
                &:after {
                    -webkit-box-shadow: 2pt 2pt 5pt 0pt rgba(#000, 0.25) inset;
                            box-shadow: 2pt 2pt 5pt 0pt rgba(#000, 0.25) inset;
                }
            }
        }
    }
}
