{% for cat in site.categories %}
    {% assign temp=null %}
    {% assign posts=cat[1] | where:"lang", page.lang %}
    {% for post in posts %}
        {% capture temp %}{{ post.content }}{% endcapture%}
    {% endfor %}
{% if temp %}
<section class="cat-index">
    <h3 id="{{ cat[0] | slugify }}--cat-index-{{ forloop.index }}">{{ cat[0] | capitalize }}</h3>
    {% for post in posts %}
        {% capture inputid %}
            {{ cat[0] | slugify }}--post{{ forloop.index }}--{{ post.id | slugify }}
        {% endcapture %}
        {% include posts.html id=inputid %}
    {% endfor %}
</section>
{% endif %}
{% endfor %}

{% include tagcloud.html %}
