{% if site.categories %}
<section>
    <h2>{{ include.seccion1 }}</h2>
{% for cat in site.categories %}
            {% capture prefixid %}
                {{ include.id | strip }}-{{ page.lang | upcase }}-Cat{{ forloop.index }}
            {% endcapture %}
        {% assign posts=cat[1] | where:"lang", page.lang %}
        {% for post in posts %}
            {% capture temp %}{{ post.url }}{% endcapture %}
        {% endfor %}
    {% if temp %}

        {% capture u %}{{ cat[0] }}{% endcapture %}
        {% include filters/replace-tildes.html original = u %}
        {% assign ury = ury %}
    <section class="blog-index">
        <h3 id="{{ page.permalink | slugify }}--cat-{{ ury | slugify }}">{{ cat[0] | capitalize }}</h3>
        {% for post in posts %}
                {% capture postid %}
                    {{ prefixid | strip }}--Post{{ forloop.index }}
                {% endcapture %}
                {% capture idcheck %}
                    {{ postid | strip }}--{{ post.id | slugify }}
                {% endcapture %}

            {% include posts.html id=postid idcheck=idcheck h4=true showtags=true icontag='tag' iconuser='user' classArticle='list-unchecked' classHeader='justify' classHeaderH='aHoverXl' classHeaderSmallIcon='svg cross-centro' classHeaderSpanIcon='flp0' classP='entradilla aHoverXl' classUlLabs='tagcloud-flex' classLiLabs='svg' classSpanIconLab='fl' classLiElse='aHoverXl' %}
        {% endfor %}
    </section>

    {% endif %}
    <!-- captures --> {% assign prefixid = null %} {% assign temp = null %} {% assign u = null %}  {% assign postid = null %} {% assign idcheck = null %}
    <!-- assigns --> {% assign posts = null %} {% assign ury = null %}
{% endfor %}
</section>
{% endif %} {% if site.tags %}
<section>
    <h2>{{ include.seccion2 }}</h2>
{% for tag in site.tags %}
            {% capture prefixid %}
                {{ page.ref | strip }}-{{ page.lang | upcase }}--Tag{{ forloop.index }}
            {% endcapture %}
        {% assign posts=tag[1] | where:"lang", page.lang %}
        {% for post in posts %}
            {% capture temp %}{{ post.url }}{% endcapture %}
        {% endfor %}
    {% if temp %}

        {% capture u %}{{ tag[0] }}{% endcapture %}
        {% include filters/replace-tildes.html original = u %}
        {% assign ury = ury %}
    <section class="blog-index">
        <h3 id="{{ page.permalink | slugify }}--tag-{{ ury | slugify }}">{{ tag[0] | capitalize }}</h3>
        {% for post in posts %}
                {% capture postid %}
                    {{ prefixid | strip }}--Post{{ forloop.index }}
                {% endcapture %}
                {% capture idcheck %}
                    {{ postid | strip }}--{{ post.id | slugify }}
                {% endcapture %}

            {% include posts.html id=postid idcheck=idcheck h4=true showcats=true showtags=true iconcat='folder' icontag='tag' iconuser='user' classArticle='list-unchecked' classHeader='justify' classHeaderH='aHoverXl' classHeaderSmallIcon='svg cross-centro' classHeaderSpanIcon='flp0' classP='entradilla aHoverXl' classUlLabs='tagcloud-flex' classLiLabs='svg' classSpanIconLab='fl' classLiElse='aHoverXl' %}
        {% endfor %}
    </section>
    {% endif %}
    <!-- captures --> {% assign prefixid = null %} {% assign temp = null %} {% assign u = null %}  {% assign postid = null %} {% assign idcheck = null %}
    <!-- assigns --> {% assign posts = null %} {% assign ury = null %}
{% endfor %}
</section> {% endif %}
