{% for cat in site.categories %}
    {% capture prefixid %}
        {{ include.origin | strip }}-{{ page.lang | upcase }}--cat-{{ forloop.index }}
    {% endcapture %}
    {% assign temp=null %}
    {% assign posts=cat[1] | where:"lang", page.lang %}
    {% for post in posts %}
        {% capture temp %}{{ post.content }}{% endcapture %}
    {% endfor %}
{% if temp %}
<section class="cat-index">
    <h3 id="{{ page.permalink | slugify }}--cat-{{ cat[0]| slugify }}">{{ cat[0] | capitalize }}</h3>
    {% for post in posts %}
        {% capture postid %}
            {{ prefixid | strip }}--post-{{ forloop.index }}
        {% endcapture %}
        {% capture inputid %}
            {{ postid | strip }}--{{ post.id | slugify }}
        {% endcapture %}
        <!-- posts[] -->
        <!-- include posts.html id=postid labelid=inputid labelsvg='info' labelspanflex='cross-end' headerflex='justify' hpclass='aHoverXl' hlevel=4 usersvg='user' usersmallflex='cross-centro' tagshow='tag' tagulclass='tagcloud-flex' tagspanclass='fl' taglielse='aHoverXl' tagsvg='tag' -->
        {% include posts.html id=postid labelid=inputid headerflex='justify' hpclass='aHoverXl' hlevel=4 usersvg='user' usersmallflex='cross-centro' tagshow='tag' tagulclass='tagcloud-flex' tagspanclass='fl' taglielse='aHoverXl' tagsvg='tag' %}
        <!-- inline nav post.tags -->
        <!-- include nav-page-tags.html show="tag" ulclass="tagcloud-flex" lielse="aHoverXl" iconid=postid spanclass="fl" tagsvg="tag" -->
    {% endfor %}
</section>
{% endif %}
{% endfor %}
<!-- site.tags -->

{% for tag in site.tags %}
    {% capture prefixid %}
        {{ include.origin | strip }}-{{ page.lang | upcase }}--tag-{{ forloop.index }}
    {% endcapture %}
    {% assign temp=null %}
    {% assign posts=tag[1] | where:"lang", page.lang %}
    {% for post in posts %}
        {% capture temp %}{{ post.content }}{% endcapture %}
    {% endfor %}
{% if temp %}
<section class="cat-index">
    <h3 id="{{ page.permalink | slugify }}--tag-{{ tag[0]| slugify }}">{{ tag[0] | capitalize }}</h3>
    {% for post in posts %}
        {% capture postid %}
            {{ prefixid | strip }}--post-{{ forloop.index }}
        {% endcapture %}
        {% capture inputid %}
            {{ postid | strip }}--{{ post.id | slugify }}
        {% endcapture %}
        <!-- posts[] -->
        <!-- include posts.html id=postid labelid=inputid labelsvg='folder' labelspanflex='cross-end' headerflex='justify' hpclass='aHoverXl' hlevel=4 usersvg='user' usersmallflex='cross-centro' tagshow='both' tagulclass='tagcloud-flex' tagspanclass='fl' taglielse='aHoverXl' catsvg="folder" tagsvg='tag' -->
        {% include posts.html id=postid labelid=inputid headerflex='justify' hpclass='aHoverXl' hlevel=4 usersvg='user' usersmallflex='cross-centro' tagshow='both' tagulclass='tagcloud-flex' tagspanclass='fl' taglielse='aHoverXl' catsvg="folder" tagsvg='tag' %}
        <!-- inline nav post.tags -->
        <!-- include nav-page-tags.html show="tag" ulclass="tagcloud-flex" lielse="aHoverXl" iconid=postid spanclass="fl" tagsvg="tag" -->
    {% endfor %}
</section>
{% endif %}
{% endfor %}
