{% if site.categories %}
<section>
    <h2>{{ include.seccion1 }}</h2>
    {% for cat in site.categories %}
        {% capture prefixid %}
            {{ include.origin | strip }}-{{ page.lang | upcase }}--cat-{{ forloop.index }}
        {% endcapture %}
        {% assign temp=null %}
        {% assign posts=cat[1] | where:"lang", page.lang %}
        {% for post in posts %}
            {% capture temp %}{{ post.content }}{% endcapture %}
        {% endfor %}
    {% if temp %}

        {% assign ury = null %} {% capture c %}{{ cat[0] }}{% endcapture %}
        {% include filters/replace-tildes.html original = c %}
        {% assign ury = ury %}
    <section class="cat-index">
        <h3 id="{{ page.permalink | slugify }}--cat-{{ ury | slugify }}">{{ cat[0] | capitalize }}</h3>
        {% for post in posts %}
                {% capture postid %}
                    {{ prefixid | strip }}--post-{{ forloop.index }}
                {% endcapture %}
                {% capture inputid %}
                    {{ postid | strip }}--{{ post.id | slugify }}
                {% endcapture %}

                {% include posts.html id=postid labelid=inputid headerflex='justify' hpclass='aHoverXl' hlevel=4 usersvg='user' usersmallflex='cross-centro' tagshow='tag' tagulclass='tagcloud-flex' tagspanclass='fl' taglielse='aHoverXl' tagsvg='tag' %}
        {% endfor %}
    </section>
    {% endif %} {% endfor %}
</section>
{% endif %} {% if site.tags %}
<section>
    <h2>{{ include.seccion2 }}</h2>
    {% for tag in site.tags %}
        {% capture prefixid %}
            {{ include.origin | strip }}-{{ page.lang | upcase }}--tag-{{ forloop.index }}
        {% endcapture %}
        {% assign temp=null %}
        {% assign posts=tag[1] | where:"lang", page.lang %}
        {% for post in posts %}
            {% capture temp %}{{ post.content }}{% endcapture %}
        {% endfor %}
    {% if temp %}

        {% assign ury = null %} {% capture t %}{{ tag[0] }}{% endcapture %}
        {% include filters/replace-tildes.html original = t %}
        {% assign ury = ury %}
    <section class="cat-index">
        <h3 id="{{ page.permalink | slugify }}--tag-{{ ury | slugify }}">{{ tag[0] | capitalize }}</h3>
        {% for post in posts %}
                {% capture postid %}
                    {{ prefixid | strip }}--post-{{ forloop.index }}
                {% endcapture %}
                {% capture inputid %}
                    {{ postid | strip }}--{{ post.id | slugify }}
                {% endcapture %}

                {% include posts.html id=postid labelid=inputid headerflex='justify' hpclass='aHoverXl' hlevel=4 usersvg='user' usersmallflex='cross-centro' tagshow='both' tagulclass='tagcloud-flex' tagspanclass='fl' taglielse='aHoverXl' catsvg="folder" tagsvg='tag' %}
        {% endfor %}
    </section>
    {% endif %} {% endfor %}
</section> {% endif %}
