    {% capture logourl %}/assets/img/logo/{% endcapture %}
    <link rel="icon" type="image/x-icon" href="{{ logourl }}favicon.ico" />
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="{{ logourl }}favicon.ico" />
    <link rel="icon" type="image/x-icon" href="{{ logourl }}favicon.ico" />
    <link rel="icon" sizes="192x192" href="{{ logourl }}favicon-192.png" />
    <link rel="icon" type="image/png" href="{{ logourl }}favicon-32.png" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{ logourl }}favicon-180.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ logourl }}favicon-152.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ logourl }}favicon-144.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ logourl }}favicon-120.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ logourl }}favicon-114.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ logourl }}favicon-76.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ logourl }}favicon-72.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ logourl }}favicon-57.png" />

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ logourl }}favicon-114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ logourl }}favicon-72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ logourl }}favicon-57.png" />

    <link rel="mask-icon" color="#971f1f" href="{{ logourl }}.logo-mask.svg" />
