<h2 class="footer-heading">{{ site.title[page.lang] }}</h2>
    <nav>
        <ul class="abcenter">
                {% capture hover %}
                    {{ site.tradename }} {{ site.data.t[page.lang].page.seguir }}
                {% endcapture %}
            {% include ul-social.html ul="follow" webuser=site.tradename sjobs=true sme=true iconid="footer1" liclass="follow" spansvg="circulo" spant="titulo" spanth="titulo-hover" username=false hover=hover %}
        </ul>
    </nav>
    <nav>
        <ul>
            {% include ul-social.html ul="follow" webuser=site.tradename ssite=true iconid="footer2" liclass="svg-icon" username=false %}
        </ul>
    </nav>
