<footer class="site-footer">

    <div class="wrapper">

        <h2 class="footer-heading">{{ site.title[page.lang] }}</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li>{{ site.title[page.lang] }}</li>
                    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                </ul>
            </div>

            {% include nav-social-text.html webuser=site.tradename sjobs=1 sme=1 iconid="footer1" aclass="cross-centro" %}
            {% include nav-social-icon.html webuser=site.tradename sjobs=1 sme=1 iconid="footer2" %}

            <div class="footer-col footer-col-3">
                <p>{{ site.description[page.lang] }}</p>
            </div>
        </div>

    </div>

</footer>
