<head>
    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Search Engine -->
    <title>{% if page.ref == 'index' %}{{ site.title.[page.lang] }}{% elsif page.title %}{{ page.title | append: site.prefix | escape }}{% else %}{{ site.title[page.lang] | append: site.prefix | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.metaDescription %}{{ page.metaDescription }}{% elsif page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 156 }}{% else %}{{ site.description[page.lang] }}{% endif %}" />
    <!--meta name="robots" content="{% if page.robots %}{{ page.robots }}{% else %}Index, Follow{% endif %}"-->
    <meta name="robots" content="Index, Follow" />
    <meta name=”google” content=”nositelinkssearchbox” />
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:title" content="{% if page.ref == 'index' %}{{ site.title.[page.lang] }}{% elsif page.ogTitle %}{{ page.ogTitle | append: site.prefix }}{% elsif page.title %}{{ page.title | append: site.prefix }}{% else %}{{ site.title[page.lang] | append: site.prefix }}{% endif %}" />
    <meta property="og:url" content="{{ page.url | prepend: site.url }}" />
    <meta property="fb:app_id" content="{{ site.data.people.[page.person].social.fbid }}" />
{% if page.ref == 'index' %}
    <meta property="og:type" content="website" /> {% elsif page.person %}
    <meta property="og:type" content="profile" /> {% else %}
    <meta property="og:type" content="article" />
    <meta property="og:updated_time" content="{{ site.time | date_to_xmlschema }}" />
{% endif %}
{% if page.categories %}{% for category in page.categories limit:1 %}
    <meta property="article:section" content="{{ category }}" />{% endfor %}{% endif %}{% if page.tags %}{% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}" />{% endfor %}{% endif %}
{% if page.images %}{% for img in page.images %}
    <meta property="og:image" content="{{ site.url }}/assets/img{{ img }}" />{% endfor %} {% elsif site.ogImage %}
    <meta property="og:image" content="{{ site.url }}/assets/img{{ site.ogImage }}" />{% elsif site.image %}
    <meta property="og:image" content="{{ site.url }}/assets/img{{ site.image }}" />{% else %}
    <meta property="og:image" content="{{ site.url }}/assets/img/default.jpg" />{% endif %}
    <meta property="og:description" content="{% if page.metaOgDescription %}{{ page.metaOgDescription }}{% elsif page.metaDescription %}{{ page.metaDescription }}{% elsif page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 156 }}{% else %}{{ site.description[page.lang] }}{% endif %}" />
    <meta property="og:site_name" content="{{ site.tradename }}" />
    <meta property="og:locale" content="{{ site.alternate.oglocale.[page.lang] }}" />
{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}{% for post in posts %}{% if post.lang != page.lang %}
    <meta property="og:locale:alternate" content="{{ site.alternate.oglocale.[post.lang] }}" />{% endif %}{% endfor %}
{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}{% for pag in pages %}{% if pag.lang != page.lang %}
    <meta property="og:locale:alternate" content="{{ site.alternate.oglocale.[pag.lang] }}" />{% endif %}{% endfor %}

    <!-- <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}"> -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | append: site.baseurl }}">
    <!-- <link rel="stylesheet" href="{{ "css/application.css" | prepend: site.baseurl }}"> -->
    <link rel="stylesheet" href="{{ "/assets/css/application.css" | append: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}{% for post in posts %}
    {% if post.lang == 'es' %}<link rel="alternate" hreflang="x-default" href="{{ post.url | prepend: site.url }}" />{% endif %}
    <link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url | prepend: site.url }}" />{% endfor %}
    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}{% for pag in pages %}
    {% if pag.lang == 'es' %}<link rel="alternate" hreflang="x-default" href="{{ pag.url | prepend: site.url }}" />{% endif %}
    <link rel="alternate" hreflang="{{ pag.lang }}" href="{{ pag.url | prepend: site.url }}" />{% endfor %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.title[page.lang] }}" href="{{ site.feed[page.lang] | prepend: site.baseurl | prepend: site.url }}">
    {% include seo/structured-data-website.html %}
    {% if page.ref != 'index' %}
    {% include seo/structured-data-article.html %}
    {% endif %}
</head>
