<head>
    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Search Engine -->
    <title>{% if page.ref == 'index' %}{{ site.title.[page.lang] }}{% elsif page.title %}{{ page.title | append: site.prefix | escape }}{% else %}{{ site.title[page.lang] | append: site.prefix | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.metaDescription %}{{ page.metaDescription }}{% elsif page.description %}{{ page.description | append: page.categories }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 156 }}{% else %}{{ site.description[page.lang] }}{% endif %}" />
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:type" content="{% if page.ref == 'index' %}{{ 'website' }}{% else %}{{ 'article' }}{% endif %}" />
    <meta property="og:title" content="{% if page.ref == 'index' %}{{ site.title.[page.lang] }}{% elsif page.ogTitle %}{{ page.ogTitle | append: site.prefix }}{% elsif page.title %}{{ page.title | append: site.prefix }}{% else %}{{ site.title[page.lang] | append: site.prefix }}{% endif %}" />
    <meta property="og:description" content="{% if page.metaOgDescription %}{{ page.metaOgDescription }}{% elsif page.metaDescription %}{{ page.metaDescription }}{% elsif page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 156 }}{% else %}{{ site.description[page.lang] }}{% endif %}" />
    <meta property="og:url" content="{{ page.url | prepend: site.url }}" />
    <meta property="og:site_name" content="{{ site.tradename }}" />
    <meta property="og:locale" content="{{ site.alternate.oglocale.[page.lang] }}" />
    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}{% for post in posts %}{% if post.lang != page.lang %}
    <meta property="og:locale:alternate" content="{{ site.alternate.oglocale.[post.lang] }}" />{% endif %}{% endfor %}
    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}{% for pag in pages %}{% if pag.lang != page.lang %}
    <meta property="og:locale:alternate" content="{{ site.alternate.oglocale.[pag.lang] }}" />{% endif %}{% endfor %}

    <!-- <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}"> -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | append: site.baseurl }}">
    <!-- <link rel="stylesheet" href="{{ "css/application.css" | prepend: site.baseurl }}"> -->
    <link rel="stylesheet" href="{{ "/assets/css/application.css" | append: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}{% for post in posts %}
    {% if post.lang == 'es' %}<link rel="alternate" hreflang="x-default" href="{{ post.url | prepend: site.url }}" />{% endif %}
    <link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url | prepend: site.url }}" />{% endfor %}
    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}{% for pag in pages %}
    {% if pag.lang == 'es' %}<link rel="alternate" hreflang="x-default" href="{{ pag.url | prepend: site.url }}" />{% endif %}
    <link rel="alternate" hreflang="{{ pag.lang }}" href="{{ pag.url | prepend: site.url }}" />{% endfor %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.title[page.lang] }}" href="{{ site.feed[page.lang] | prepend: site.baseurl | prepend: site.url }}">
    {% include seo/structured-data-website.html %}
</head>
