<head>
    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Search Engine -->
    <title>{% if page.ref == 'index' %}{{ site.title.[page.lang] }}{% elsif page.title %}{{ page.title | append: site.prefix | escape }}{% else %}{{ site.title[page.lang] | append: site.prefix | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.metaDescription %}{{ page.metaDescription }}{% elsif page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 156 }}{% else %}{{ site.description[page.lang] }}{% endif %}" />
    <!--meta name="robots" content="{% if page.robots %}{{ page.robots }}{% else %}Index, Follow{% endif %}"-->
    <meta name="robots" content="Index, Follow" />
    <meta name=”google” content=”nositelinkssearchbox” />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name=”twitter:title” content="{% if page.ref == 'index' %}{{ site.title.[page.lang] }}{% elsif page.ogTitle %}{{ page.ogTitle | append: site.prefix }}{% elsif page.title %}{{ page.title | append: site.prefix }}{% else %}{{ site.title[page.lang] | append: site.prefix }}{% endif %}" />
    <meta name=”twitter:url” content="{{ page.url | prepend: site.url }}" />
    <meta name=”twitter:site” content="@{{ site.tradename }}" />
    <meta name=”twitter:description” content="{% if page.metaOgDescription %}{{ page.metaOgDescription }}{% elsif page.metaDescription %}{{ page.metaDescription }}{% elsif page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 156 }}{% else %}{{ site.description[page.lang] }}{% endif %}" />
    <meta name="twitter:creator" content="{% if page.autor %}@{{ page.autor }}{% else %}@{{ site.seo.author }}{% endif %}" /> {% if page.fotos %}{% for imgs in page.fotos limit: 1 %}{% for img in imgs %}{% if img.url %}
    <meta name="twitter:image" content="{{ site.url }}/assets/img{{ img.url }}" /> {% endif %}{% endfor %}{% endfor %} {% elsif site.ogImage %}
    <meta name="twitter:image" content="{{ site.url }}/assets/img{{ site.ogImage.url }}" /> {% elsif site.image %}
    <meta name="twitter:image" content="{{ site.url }}/assets/img{{ site.image.url }}" />{% else %}
    <meta name="twitter:image" content="{{ site.url }}/assets/img/default.jpg" />{% endif %}
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:title" content="{% if page.ref == 'index' %}{{ site.title.[page.lang] }}{% elsif page.ogTitle %}{{ page.ogTitle | append: site.prefix }}{% elsif page.title %}{{ page.title | append: site.prefix }}{% else %}{{ site.title[page.lang] | append: site.prefix }}{% endif %}" />
    <meta property="og:url" content="{{ page.url | prepend: site.url }}" />
    <meta property="og:site_name" content="{{ site.tradename }}" />
    <meta property="og:description" content="{% if page.metaOgDescription %}{{ page.metaOgDescription }}{% elsif page.metaDescription %}{{ page.metaDescription }}{% elsif page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 156 }}{% else %}{{ site.description[page.lang] }}{% endif %}" />
    <meta property="fb:admins" content="{{ site.data.people.[site.seo.author].social.fbadmin }}" />
    <!-- <meta property="fb:app_id" content="{{ site.data.people.[site.seo.author].social.fbapp }}" /> -->
{% if page.ref == 'index' %}
    <meta property="og:type" content="website" /> {% elsif page.person %}
    <meta property="og:type" content="profile" /> {% else %}
    <meta property="og:type" content="article" /> {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" /> {% endif %}
    <meta property="article:modified_time" content="{{ site.time | date_to_xmlschema }}" /> {% if page.categories %} {% for category in page.categories limit:1 %}
    <meta property="article:section" content="{{ category }}" /> {% endfor %} {% endif %} {% if page.tags %} {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}" /> {% endfor %} {% endif %}
{% endif %}
    <meta property="og:updated_time" content="{{ site.time | date_to_xmlschema }}" />
{% if page.fotos %}{% for imgs in page.fotos %}{% for img in imgs %}{% if img.url %}
    <meta property="og:image" content="{{ site.url }}/assets/img{{ img.url }}" /> {% endif %} {% if img.alt %}
    <meta property="og:image:alt" content="{{ img.alt}}" /> {% endif %}{% endfor %}{% endfor %}{% elsif site.ogImage %}
    <meta property="og:image" content="{{ site.url }}/assets/img{{ site.ogImage.url }}" />
    <meta property="og:image:alt" content="{{ site.ogImage.alt }}" /> {% elsif site.image %}
    <meta property="og:image" content="{{ site.url }}/assets/img{{ site.image.url }}" />
    <meta property="og:image:alt" content="{{ site.image.alt }}" /> {% else %}
    <meta property="og:image" content="{{ site.url }}/assets/img/default.jpg" />{% endif %}
    <meta property="og:locale" content="{{ site.alternate.oglocale.[page.lang] }}" />
{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}{% for post in posts %}{% if post.lang != page.lang %}
    <meta property="og:locale:alternate" content="{{ site.alternate.oglocale.[post.lang] }}" />{% endif %}{% endfor %}
{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}{% for pag in pages %}{% if pag.lang != page.lang %}
    <meta property="og:locale:alternate" content="{{ site.alternate.oglocale.[pag.lang] }}" />{% endif %}{% endfor %}
    <!-- <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}"> -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | append: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/application.css" | append: site.baseurl }}">
    <link rel="stylesheet" media="print" href="{{ "/assets/css/page.css" | append: site.baseurl }}">
    <!-- <link rel="stylesheet" href="{{ "css/application.css" | prepend: site.baseurl }}"> -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}{% for post in posts %}
    {% if post.lang == 'es' %}<link rel="alternate" hreflang="x-default" href="{{ post.url | prepend: site.url }}" />{% endif %}
    <link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url | prepend: site.url }}" />{% endfor %}
    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}{% for pag in pages %}
    {% if pag.lang == 'es' %}<link rel="alternate" hreflang="x-default" href="{{ pag.url | prepend: site.url }}" />{% endif %}
    <link rel="alternate" hreflang="{{ pag.lang }}" href="{{ pag.url | prepend: site.url }}" />{% endfor %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.title[page.lang] }}" href="{{ site.rss[page.lang] | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title[page.lang] }}" href="{{ site.atom[page.lang] | prepend: site.baseurl | prepend: site.url }}">
    {% include seo/structured-data-website.html %}
    {% include seo/structured-data-organization.html %}
    {% if page.ref == 'index' %}{% elsif page.ref == 'blog-index' %}
        {% for cat in site.categories %}
            {% assign name=cat[0] | where:"lang", page.lang %}
            {% assign posts=cat[1] | where:"lang", page.lang %}
            {% for post in posts %}
                {% capture temp %}{{ post.url }}{% endcapture %}
            {% endfor %}
        {% if temp %}
{% include seo/structured-data-itemlist.html name=name cat=posts %}
        {% endif %}
            {% assign temp=null %} {% assign posts = null %} {% assign name = null %}
        {% endfor %}
    {% else %}
        {% include seo/structured-data-webpage.html %}
    {% endif %}
{% include seo/structured-data-breadcrumb.html %}
</head>
