<nav>
    <ul>
        {% if include.sjobs == 1 %}
            {% for red in site.data.people[include.webuser].social.jobs %}
                {% capture classname %}
                    svg--{{ red.name }}
                {% endcapture %}
                {% capture idName %}
                    {{red.name}}--{{ include.iconid }}
                {% endcapture %}
                {% capture idTitle %}
                    {{red.name}}Title--{{ include.iconid }}
                {% endcapture %}
                {% capture idDesc %}
                    {{red.name}}Desc--{{ include.iconid }}
                {% endcapture %}
            <li class="svg">
                <a href="{{ red.username | prepend: red.url }}" target="_blank" class="{{ include.aclass }} underlineFromRightMini">
                    {% include svg/icon-{{ red.name }}.svg hidden='true' iconclass=classname idn=idName idt=idTitle idd=idDesc %}
                    {{ red.title }}/{{ site.data.people[include.webuser].tradename }}
                </a>
            </li>
            {% endfor %}
        {% endif %}
        {% if include.sme == 1 %}
            {% for red in site.data.people[include.webuser].social.me %}
                {% capture classname %}
                    svg--{{ red.name }}
                {% endcapture %}
                {% capture idName %}
                    {{red.name}}--{{ include.iconid }}
                {% endcapture %}
                {% capture idTitle %}
                    {{red.name}}Title--{{ include.iconid }}
                {% endcapture %}
                {% capture idDesc %}
                    {{red.name}}Desc--{{ include.iconid }}
                {% endcapture %}
            <li class="svg">
                <a href="{{ red.username | prepend: red.url }}" target="_blank" class="{{ include.aclass }} underlineFromRightMini">
                    {% include svg/icon-{{ red.name }}.svg hidden='true' iconclass=classname idn=idName idt=idTitle idd=idDesc %}
                    {{ red.title }}/{{ site.data.people[include.webuser].darlingname }}
                </a>
            </li>
            {% endfor %}
        {% endif %}
    </ul>
</nav>
