<nav>
    <ul class="{{ include.ulclass }}">
    {% for tag in site.tags %}
        {% capture sufixid %}
            {{ include.origin | strip }}-tagcloud-item--{{ forloop.index }}
        {% endcapture %}
        {% assign temp=null %}
        {% assign posts=tag[1] | where:"lang", page.lang %}
            {% for post in posts %}
                {% capture temp %}{{ post.content }}{% endcapture %}
            {% endfor %}
{% if temp %}
    {% if include.svg %}
        {% capture iconclass %}
            svg--{{ include.svg }}
        {% endcapture %}
        <li class="svg">
            <a href="#{{ tag[0]| slugify }}--{{ sufixid | strip }}" title="{{ site.data.t.[page.lang].paginate.tags.titleLink }} {{ tag | first }}">
                <span class="{{ include.spanclass }} {{ iconclass }}">{% include svg/icon-{{include.svg}}.svg hidden='true' iconclass=iconclass id=sufixid %}</span>{{ tag[0] | capitalize }}<span> ({{ posts.size }})</span>
            </a>
        </li>
    {% else %}
        <li class="{{ include.liclasselse }}"><a href="#{{ tag[0]| slugify }}--{{ sufixid | strip }}" title="{{ site.data.t.[page.lang].paginate.tags.titleLink }} {{ tag | first }}">{{ tag[0] | replace:'-', ' ' | capitalize }}<span> ({{ posts.size }})</span></a></li>
    {% endif %}
{% endif %}
    {% endfor %}
    </ul>
</nav>
