<nav>
    <ul>
        {% if include.sjobs == 1 %}
            {% for red in site.data.people[include.webuser].social.jobs %}
                {% capture classname %}
                    svg--{{ red.name }}
                {% endcapture %}
                {% capture idName %}
                    {{red.name}}--{{ include.iconid }}
                {% endcapture %}
                {% capture idTitle %}
                    {{red.name}}Title--{{ include.iconid }}
                {% endcapture %}
                {% capture idDesc %}
                    {{red.name}}Desc--{{ include.iconid }}
                {% endcapture %}
            <li>
                <a href="{{ red.username | prepend: red.url }}" target="_blank" title="{{ site.data.t.[page.lang].social.[red.title].title }}" class="svg">{% include svg/icon-{{ red.name }}.svg hidden='false' iconclass=classname idn=idName idt=idTitle idd=idDesc %}</a>
            </li>
            {% endfor %}
        {% endif %}
        {% if include.sme == 1 %}
            {% for red in site.data.people[include.webuser].social.me %}
                {% capture classname %}
                    svg--{{ red.name }}
                {% endcapture %}
                {% capture idName %}
                    {{red.name}}--{{ include.iconid }}
                {% endcapture %}
                {% capture idTitle %}
                    {{red.name}}Title--{{ include.iconid }}
                {% endcapture %}
                {% capture idDesc %}
                    {{red.name}}Desc--{{ include.iconid }}
                {% endcapture %}
            <li>
                <a href="{{ red.username | prepend: red.url }}" target="_blank" title="{{ site.data.t.[page.lang].social.[red.title].title }}" class="svg">{% include svg/icon-{{ red.name }}.svg hidden='false' iconclass=classname idn=idName idt=idTitle idd=idDesc %}</a>
            </li>
            {% endfor %}
        {% endif %}
    </ul>
</nav>
