{% if page.tags.size > 0 or page.categories.size > 0 %}
<nav>

    <ul class="{{ include.ulclass }}">
        {% if page.categories %}
        {% for cat in page.categories %}
            {% capture svgid %}
                {{ include.iconid }}--{{ forloop.index }}
            {% endcapture %}
        <li class="svg">
            <a href="#">
                <span class="{{ include.aclass }} svg--folder">{% include svg/icon-folder.svg hidden='true' iconclass='svg--folder' id=svgid %}</span>{{ cat | capitalize }}
            </a>
        </li>
        {% endfor %}
        {% endif %}
        {% if page.tags %}
        {% for etiq in page.tags %}
            {% capture svgid %}
                {{ include.iconid }}--{{ forloop.index }}
            {% endcapture %}
        <li class="svg">
            <a href="#">
                <span class="{{ include.aclass }} svg--tag">{% include svg/icon-tag.svg hidden='true' iconclass='svg--tag' id=svgid %}</span>{{ etiq | capitalize }}
            </a>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
</nav>
{% endif %}
