<nav>
    {% capture svgid %}
        {{ include.iconid }}
    {% endcapture %}
    <ul class="{{ include.ulclass }}">
        {% for cat in site.categories %}
            {% capture svgid %}
                {{ include.iconid }}--{{ forloop.index }}
            {% endcapture %}
            {% assign temp=null %}
            {% assign posts=cat[1] | where:"lang", page.lang %}
            {% for post in posts %}
                {% capture temp %}{{ post.content }}{% endcapture%}
            {% endfor %}
        {% if temp %}
        <li class="svg">
            <a href="#{{ cat[0]| slugify }}--{{ include.iconid }}" class="{{ include.aclass }} underlineFromRightMini">
                <span class="{{ include.aclass }} svg--folder">{% include svg/icon-folder.svg hidden='true' iconclass='svg--folder' id=svgid %}</span>{{ cat[0] | capitalize }}
            </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
