{% assign posts=site.posts | where:"lang", page.lang %}
{% unless posts.blank? %}
<section class="paginate">
    <header>
        <h2>{{ site.data.t.[page.lang].paginate.heading }}</h2>
    </header>
    {% for post in posts limit: 10 %}
    <article class="">
        <header>
            <h3>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h3>
            <small>{{ post.date | date: "%b %-d, %Y" }} {{ site.data.t.[page.lang].paginate.show.x }} <strong><a href="{{ site.data.people[post.autor].about[page.lang] | prepend: site.baseurl }}">{{ post.autor }}</a></strong></small>
        </header>
        <!-- <p>{{ post.content | strip_html | truncatewords:65 }} </p> -->
        <p class="underlineFromRight"><a href="{{ post.url }}" title="{{ site.data.t.[page.lang].paginate.show.title}} '{{ post.title }}'">{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | remove: '<p>' | remove: '</p>' }}{% endif %}</a></p>
    </article>
    {% endfor %}
    <footer>
        <nav>
            <ul>
                <li>{{ site.data.t.[page.lang].paginate.index.feed.texto }}&nbsp;
                    <a target="_blank" href="{{ site.data.t.[page.lang].paginate.index.feed.url | prepend: site.baseurl }}" title="{{ site.data.t.[page.lang].paginate.index.feed.title}}" class="underlineFromRightMini">{{ site.data.t.[page.lang].paginate.index.feed.link }}
                    </a>
                </li>
            </ul>
        </nav>
    </footer>
</section>

{% else %}
<p>{{ site.data.t.[page.lang].paginate.else }}</p>
{% endunless %}
