h3=true{% assign posts=site.posts | where:"lang", page.lang %}
{% unless posts.blank? %}

<section class="paginate">
    <header>
        <h2>{{ site.data.t.[page.lang].paginate.heading }}</h2>
    </header>
            {% capture prefixid %}
                {{ page.ref }}-paginate-{{ page.lang | upcase }}
            {% endcapture %}
    {% for post in posts limit: 10 %}
            {% capture postid %}
                {{ prefixid | strip }}--Post{{ forloop.index }}
            {% endcapture %}
            {% capture idcheck %}
                {{ postid | strip }}--{{ post.id | slugify }}
            {% endcapture %}

        {% include posts.html id=postid idcheck=idcheck h3=true showcats=true showtags=true iconcat='folder' icontag='tag' iconuser='user' classArticle='list-unchecked' classHeader='justify' classHeaderH='aHoverXl' classHeaderSmallIcon='svg cross-centro' classHeaderSpanIcon='flp0' classP='entradilla aHoverXl' classUlLabs='tagcloud-flex' classLiLabs='svg' classSpanIconLab='fl' classLiElse='aHoverXl' %}
    {% endfor %}
    <footer>
        <nav>
            <ul>
                <li class="underlineFCxs">{{ site.data.t.[page.lang].paginate.index.feed.texto }}&nbsp;
                    <a target="_blank" href="{{ site.data.t.[page.lang].paginate.index.feed.url | prepend: site.baseurl }}" title="{{ site.data.t.[page.lang].paginate.index.feed.title}}">{{ site.data.t.[page.lang].paginate.index.feed.link }}
                    </a>
                </li>
            </ul>
        </nav>
    </footer>
</section>

{% else %}
<p>{{ site.data.t.[page.lang].paginate.else }}</p>
{% endunless %}
