{% assign posts=site.posts | where:"lang", page.lang %}
{% unless posts.blank? %}

<section class="paginate">
    <header>
        <h2>{{ site.data.t.[page.lang].paginate.heading }}</h2>
    </header>
    {% for post in posts limit: 10 %}
        {% capture prefixid %}
            paginate-{{ page.lang | upcase }}
        {% endcapture %}
        {% capture postid %}
            {{ prefixid | strip }}--post-{{ forloop.index }}
        {% endcapture %}
        {% capture inputid %}
            {{ postid | strip }}--{{ post.id | slugify }}
        {% endcapture %}
        <!-- posts[] -->
        {% include posts.html id=postid labelid=inputid labelspanflex='cross-end' labelsvg='folder' headerflex='justify' hpclass='aHoverXl' hlevel=3 usersvg='user' usersmallflex='cross-centro' tagshow='both' tagulclass='tagcloud-flex' tagspanclass='fl' taglielse='aHoverXl' catsvg='folder' tagsvg='tag' %}

    {% endfor %}
    <footer>
        <nav>
            <ul>
                <li class="underlineFCxs">{{ site.data.t.[page.lang].paginate.index.feed.texto }}&nbsp;
                    <a target="_blank" href="{{ site.data.t.[page.lang].paginate.index.feed.url | prepend: site.baseurl }}" title="{{ site.data.t.[page.lang].paginate.index.feed.title}}">{{ site.data.t.[page.lang].paginate.index.feed.link }}
                    </a>
                </li>
            </ul>
        </nav>
    </footer>
</section>

{% else %}
<p>{{ site.data.t.[page.lang].paginate.else }}</p>
{% endunless %}
