<article class="{{ include.classArticle }}">
    <input id="{{ include.idcheck | strip }}" type="checkbox">
    <label for="{{ include.idcheck | strip }}">
{% if include.iconcheck %}
            {% capture idiconCheck %}
                check--{{ include.id | strip }}
            {% endcapture %}
        <span class="{{ include.classSpanIconCheck }}">{% include svg/icon-{{ include.iconcheck }}.svg hidden='false' id=idiconCheck %}</span>
{% endif %}
    </label>
    <header class="{{ include.classHeader }}">
        {% if include.h3 %}<h3 class="{{ include.classHeaderH }}"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>{% elsif include.h4 %}
        <h4 class="{{ include.classHeaderH }}"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
        {% endif %}
        <!-- <p class="cross-center"> -->
            <small><time datetime="{{ post.date | date_to_xmlschema }}">{% include filters/date pageref="post" %}</time></small>
    {% if post.autor %}
        {% if include.iconuser %}
            <strong>
                <small class="{{ include.classHeaderSmallIcon }}"><a href="#"><span class="{{ include.classHeaderSpanIcon | strip }}">{% include svg/icon-{{ include.iconuser }}.svg hidden='true' id=include.id %}</span>{{ post.autor }}</a></small>
            </strong>
        {% else %}
            <strong class="{{ include.classLiElse }}">
                <small><a href="#">{{ post.autor }}</a></small>
            </strong>
        {% endif %}
    {% endif %}
    </header>
    <!-- excerpt -->
    <p class="{{ include.classP }}"><a href="{{ post.url }}">{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | remove: '<p>' | remove: '</p>' }}{% endif %}</a></p>

{% if include.showcats or include.showtags %}
    {% if post.tags.size > 0 or post.categories.size > 0 %}
    <nav>
        {% include ul-page-labs.html id=include.id showcats=include.showcats showtags=include.showtags iconcat=include.iconcat icontag=include.icontag classUlLabs=include.classUlLabs classLiLabs=include.classLiLabs classSpanIconLab=include.classSpanIconLab %}
    </nav>
    {% endif %}
{% endif %}

</article>
