<aside class="section-tagcloud">
    <nav class="tagcloud-bores-flexbox">
        <ul>
            {% for tag in site.tags %}
                {% assign temp=null %}
                {% assign posts=tag[1] | where:"lang", page.lang %}
                {% for post in posts %}
                    {% capture temp %}{{ post.content }}{% endcapture %}
                {% endfor %}
            {% if temp %}
            <li><a href="/tag/{{ tag | first | slugify }}/" title="{{ site.data.t.[page.lang].paginate.tags.titleLink }} {{ tag | first }}">{{ tag[0] | replace:'-', ' ' | capitalize }}<span> ({{ posts.size }})</span></a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
</aside>
