<ul class="{{ include.ulclass }}">
{% for cat in site.categories %}
    {% capture prefixid %}
        {{ include.origin | strip }}-{{ page.lang | upcase }}--cat-{{ forloop.index }}
    {% endcapture %}
    {% assign temp=null %}
    {% assign posts=cat[1] | where:"lang", page.lang %}
    {% for post in posts %}
        {% capture temp %}{{ post.content }}{% endcapture%}
    {% endfor %}
{% if temp %}

    {% assign ury = null %} {% capture c %}{{ cat[0] }}{% endcapture %}
    {% include filters/replace-tildes.html original = c %}
    {% assign ury = ury %}

{% if include.svg %}
        {% capture iconclass %} svg--{{ include.svg }} {% endcapture %}
    <li class="svg"> {% if page.ref == "cat-index" %}
        <a href="#{{ page.permalink | slugify }}--cat-{{ ury| slugify }}">
        {% else %}
            {% assign pags=site.pages | where:"ref", "cat-index" | where:"lang", page.lang %}{% for pag in pags %}{% capture caturl %}{{ pag.url }}#{{ pag.url | slugify }}--cat-{{ ury | slugify }}{% endcapture %}{% endfor %}
        <a href="{{ caturl | prepend: site.url }}"> {% endif %}
            <span class="{{ include.spanclass }} {{ iconclass | strip }}">{% include svg/icon-{{include.svg}}.svg hidden='true' iconclass=iconclass id=prefixid %}</span>{{ cat[0] | capitalize }}</a></li>
{% else %}
    <li class="{{ include.liclasselse }}"> {% if page.ref == "cat-index" %}
        <a href="#{{ page.permalink | slugify }}--cat-{{ ury| slugify }}">{{ cat[0] | capitalize }}</a>
        {% else %}
            {% assign pags=site.pages | where:"ref", "cat-index" | where:"lang", page.lang %}{% for pag in pags %}{% capture caturl %}{{ pag.url }}#{{ pag.url | slugify }}--cat-{{ ury | slugify }}{% endcapture %}{% endfor %}
        <a href="{{ caturl | prepend: site.url }}">{{ cat[0] | capitalize }}</a>{% endif %}</li>
{% endif %} {% endif %} {% endfor %} {% assign caturl = null %}
</ul>
