//----------- HOVERS ---------------------
// HoverUnderline links del sitio

// .underlineFromRight
$mapHoverCssBorderUnderlineFromRight:(
    px: 2px,
    bg: $bg-body,
    borde: colorea($bg-box-t1, l5),
    selector: underlineFromRight
);

// .underlineFromRightMini
$mapHoverCssBorderUnderlineFromRightMini:(
    px: 2px,
    bg: $bg-body,
    borde: colorea($bg-box-t1, l5),
    selector: underlineFromRightMini,
    ss: $ss-icon
);

// li.svg
.svg {
    @include sociales-svg;
    @include hoverCss-border-underline-from-right ($mapHoverCssBorderUnderlineFromRightMini...);

    & > a {
        & > span {
            padding: $padding-icon;
            margin-right: $padding-icon;
            border-radius: 15%;
            z-index: 1;
            transition: all $ss-icon ease;
        }
    }

    & svg {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: $icon-x;
        height: $icon-y;
        vertical-align: middle;
        transition: all $ss-icon ease;
    }
}

.svg-icon {
    display: inline-flex;
    padding: $padding-icon;
    border-radius: 15%;
    transition: all $ss-icon ease;
    @include sociales-svg;

    & svg {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: $icon-x;
        height: $icon-y;
        vertical-align: middle;
        transition: all $ss-icon ease;
    }
}
