h2 {
    width: 100%;
}
//----------- HOVERS ---------------------
// HoverUnderline links website

@mixin hoverColorSvg ($color1: $color-small, $color2: $color-b) {
    & small,
    & li {
        & span {
            & svg path {
                fill: $color1;
            }
        }

        &:hover, &:focus, &:target {
            a { color: $color-b; }
            & span {
                & svg path {
                    fill: $color2;
                }
            }
        }
    }
}

@mixin hoverOpacitySpan ($ss: $ss-item) {
    & li {
        -webkit-transition: all $ss linear;
        transition: all $ss linear;

        & a {
            & span {
                -webkit-transition: opacity $ss linear;
                transition: opacity $ss linear;
                opacity: 0;
            }
        }

        &:hover, &:target, &:focus {
            & a {
                opacity: 1;

                & span {
                    opacity: 1;
                }
            }
        }
    }
}

@mixin hoverBgLinkTag ($color1: $bg-tag, $color2: transparent) {
    & li {
        a {
            background: $color1;
        }

        &:hover, &:target, &:focus {
            & a {
                background: $color2;
            }
        }
    }
}

// .underlineFromCenter blocks
$mapHoverCssBorderUnderlineFromCenter:(
    px: 2px,
    borde: colorea($color-b, l5),
    selector: a
);

// .underlineFromCenterMini inlines
$mapHoverCssBorderUnderlineFromCenterMini:(
    px: 2px,
    borde: colorea($color-b, l5),
    selector: a,
    ss: $ss-icon
);

.underlineFCxl {
    @include hoverCss-border-underline-from-center ($mapHoverCssBorderUnderlineFromCenter...);
}

.underlineFCxs {
    @include hoverCss-border-underline-from-center ($mapHoverCssBorderUnderlineFromCenterMini...);
}

.aHoverXl {
    @include hoverCss-border-underline-from-center ($mapHoverCssBorderUnderlineFromCenter...);
}

.aHoverXs {
    @include hoverCss-border-underline-from-center ($mapHoverCssBorderUnderlineFromCenterMini...);
}


//----------- fin de HOVERS ---------------------

// ---------- Stilos enlaces redes sociales --------

// li.svg / a / span.svg--name / svg.svg--name
.svg {
    @include sociales-svg-li-box((brand: fillBlack)...);
    @include hoverCss-border-underline-from-center ($mapHoverCssBorderUnderlineFromCenterMini...);

    & > a {
        & > span {
            padding: $padding-icon;
            margin-right: $padding-icon;
            border-radius: $border-radius;
            overflow: hidden;
            z-index: 1;

            &.svg--user {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                float: left;
                padding: 0;
            }
        }
    }

    & svg {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: $icon-x;
        height: $icon-y;
        vertical-align: middle;
    }

    // Para span svg flotante a la izq y centrado
    .fl {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        float: left;
        padding-right: 0;
        margin-right: 0;
    }
}

// li.svg--icon.svg--$name / a / svg.svg--$name
.svg-icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: $padding-icon;
    border-radius: $border-radius;
    overflow: hidden;
    // Default brand == 1
    @include sociales-svg-li-box;

    & svg {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: $icon-x;
        height: $icon-y;
        vertical-align: middle;
    }
}
// ---------- fin de Stilos enlaces redes sociales --------

// ------------------ TagClouds --------------------


.section-tagcloud {
    padding: 10vmin 0;
    & li { height: 2.5em; }
}

.tagcloud-flex,
.tagcloud-bores-flexbox {
    @include hoverOpacitySpan;
}

.tagcloud-flex,
.tagcloud-flexbox,
.tagcloud-bores-flexbox {
    @include hoverBgLinkTag;
    @include hoverColorSvg;
}
.tagcloud-bores-flexbox {
    // @include hoverColorSvg;
}

.tagcloud-flex {
    @include tagcloud-bores-flex;
    & li a { padding-right: 3vmin; }
}

.tagcloud-flexbox,
.tagcloud-bores-flexbox {
    @include tagcloud-bores-flex-auto;
}

// .tagcloud-bores-flexbox {
//     @include tagcloud-bores-flex-auto;
// }

.tagcloud-color-tags {
    @include tagcloud-color-tags;
}

.tagcloud-flexbox-buttons {
    & li {
        // transition: all 0.15s linear;

        & a {
            & span {
                -webkit-transition: opacity 0.15s linear;
                transition: opacity 0.15s linear;
                opacity: 0;
            }
        }

        &:hover, &:target, &:focus {
            & a {
                opacity: 1;

                & span {
                    opacity: 1;
                }
            }
        }
    }

    & ul {
        @include tagcloud-flexbox-buttons;
    }
}



.tagcloud-livejournal {
    // background: #e1e1e1;
    margin: 4em 0;
    @include tagcloud-livejournal;
    // background: $bg-body;
    // box-shadow: $bs44100;

    & ul {
        padding: 10% 5%;
        border-radius: 10px;

        position: relative;
        -webkit-box-shadow: $bs44100;
                box-shadow: $bs44100;
        &:after {
            position: absolute;
            display: inline-block;
            content: "";
            top: 3vmin;
            right: 3vmin;
            width: 4vmin;
            height: 4vmin;
            border-radius: 100%;
            -webkit-box-shadow: $bs44100 inset;
                    box-shadow: $bs44100 inset;
            background: $bg-body;
        }

        & li {
            display: inline-flex;
            -webkit-transition: all $ss-item ease;
            // & a { color: $bg-body; }
            & span {
                opacity: 0;
            }
            &:hover, &:target, &:focus {
                &, & a {
                    color: $color-title;
                    opacity: 1;
                    -webkit-transform: scale(1.5);
                            transform: scale(1.5);
                    -webkit-transition: all $ss-item ease;
                    transition: all $ss-item ease;
                    z-index: 99;
                }
                & a span {
                    opacity: 1;
                }
            }
        }

        &:hover, &:target, &:focus {
            background: $bg-body;
        }
    }
}

.list-unchecked {
    @include icon-abrirCerrar;
    $map:(selector: entradilla);
    // @include label-check;
    @include label-check($map...);
}

// ------------------ fin de TagClouds --------------------
