header.vertical-menu {
    // border-right: 1px solid #eee;
    ul {
        display: block;
        margin: 0;

        & > li {
            // display: block;
            overflow: hidden;
            // width: 1.5em;
            $map:(bg: colorea($color-t1, l5), color: $color-t1, selector: a, ss: 230ms);
            @include hoverCss-background-sweep-to-right ($map...);
            & > a, span {
                display: inline-block;
                // vertical-align: top;
                transform: translate(0,100%) rotate(-90deg);
                transform-origin: 0 0;
                white-space: nowrap;
                &:after {
                    content: "";
                    float: left;
                    margin-top: 100%;
                }
            }
            & > a {
                &:hover, &:focus, &:target {
                    text-decoration: none;
                }
                &:before {
                    height: 0.1em;
                }
            }
        }
    }
}
