.paginate {

    footer {
        ul {
            li {
                display: flex;
                white-space: nowrap;
                a {
                    font-style: normal;
                }
            }
        }
    }
}
