---
# Stilos Saltw con la librería Sugar
---
@charset "utf-8";

@import "_sugar/_vendors/normalize";
@import "_saltw/_theme/family";
// @import "cliente/_theme/fonts";
@import "_sugar/_vendors/animate";


@import "_sugar/_base/_base";


@import "_sugar/_utils/z-index";
@import "_sugar/_utils/funciones";


@import "_saltw/_theme/medidas";


@import "_saltw/_theme/colores";


// @import "cliente/_theme/shadows";


@import "_saltw/_theme/tipografia";


@import "_sugar/_utils/utils";
@import "_sugar/_components/components";


// @import "cliente/views/web/legal";
// @import "cliente/views/comunes";
// @import "cliente/views/web/index";
// @import "cliente/views/contactos/contactos-new";

$site-url: "{{ site.url | remove: 'https://' | remove: 'http://' | prepend: 'www.' }}";
$site-name: "{{ site.tradename }}";
$copy: "{{ site.seo.organization.date }}";
$page-id: "{{ page.id }}";

@import "_saltw/_layout/comunes";
@import "_saltw/_layout/menu";
@import "_saltw/_layout/paginate";
// @import "cliente/_layout/footer";
// @import "cliente/_layout/mapa";

// @import "cliente/_theme/admin";
@import "_saltw/_theme/tema";
@import "_saltw/_pages/post";
@import "_saltw/_pages/print";
