---
# Stilos para medios paginados
---
@page {
    size: auto;
    margin-top: 3cm;
    margin-bottom: 2cm;
    // counter-increment: page;
    // counter-reset: page 1;
}

@page :empty {
    display: none;
}

@page :blank {
    display: none;
    margin:0 0 0 100%;
}

@page :left {
    margin-left: 2cm;
    margin-right: 3cm;
    p {
        text-align: left;
    }
    @bottom-left {
        content: counter(page)" / "counter(pages);
    }
}
@page :right {
    margin-left: 3cm;
    margin-right: 2cm;
    p {
        text-align: right !important;
    }
    @bottom-right {
        content: counter(page)" / "counter(pages);
    }
}
@page rotada {
    size: landscape;
}

// --- Global Settings
html, body, header, nav, main, aside, footer,
section, article, address, h1, h2, h3, h4, h5, h6,
div, figure, figcaption,
p, hr, pre, blockquote, ol, ul, li, dl, dt, dd,
a, em, strong, small, s, cite, q, dfn, abbr, data, time,
code, var, samp, kbd, sub, sup, i, b, u, mark, ruby, rt, rp,
bdi, bdo, span, br, wbr, ins, del,
img, iframe, embed, object, param, video, audio, source, track,
canvas, map, area, svg, math,
table, caption, colgroup, col, tbody, thead, tfoot, tr, td, th,
form, fieldset, legend, label, input, button, select,
datalist, optgroup, option, textarea, keygen, output, progress, meter,
details, summary, command, menu
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 14pt;
    vertical-align: baseline;
    background-color: inherit;
    color: inherit;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    float: none;
}

body {
    background: transparent !important;
    color: #000 !important;
    background-image: none;
    text-shadow: none !important;
    -ms-filter: none !important;
    -webkit-filter: none !important;
            filter: none !important;


// --- Pagination and margins

    h2, h3, h4, h5, h6 {
        page-break-after: avoid;
        &:after {
            page-break-after: avoid;
        }
        & + p:nth-of-type(1) {
            // page-break-before: avoid;
            // page-break-inside: avoid;
        }
    }
    h2 ~ section, h2 ~ article,
    h3 ~ section, h3 ~ article {
        page-break-inside: avoid;
    }

    header {
        page-break-inside: avoid;
        page-break-before: avoid;
    }

    input, label {
        page-break-before: avoid;
        page-break-after: avoid;
    }

    table {
      page-break-before: always;
      page-break-after: always;
    }

    p, img, tr, blockquote, ul, dl, pre {
      page-break-inside: avoid;
    }

    p {
        orphans: 3;
        widows: 3;
        padding-bottom: 18pt;
    }

    ol { margin-left: 2cm; }

    thead {
        display: table-header-group;
    }

// --- P & M +

    main {
        & > article {
            width: auto;
            margin: 0;
            padding: 0;
            float: none !important;

            & > section {
                page-break-before: always;
                // padding-top: 24pt;
            }

            & > aside {
                page-break-before: avoid;
                & > h3 {
                    page-break-after: avoid;
                }
                & > nav {
                    page-break-before: avoid;
                }
                nav {
                    & > ol {
                        margin-left: 2cm;
                        ol {
                            margin-left: 1cm;
                        }
                        .aHoverXl, .aHoverXs {
                            a:before {
                            content: none;
                            }
                        }
                    }
                }
            }

            & > h2 {
                page-break-before: always;
                margin-top: 0;
                padding-top: 0;
            }

            & > h3 ~ h3 {
                page-break-before: always;
            }

            & > p:nth-of-type(1) {
                padding-top: 1cm;
            }

            .blog-index {
                // padding: 0;
                & > h3 {
                    page-break-after: avoid;
                }
            }

        }

        ol + h2 {
            page-break-before: always;
        }

// --- Pagination ++

        & article {
            .break-after {
                display: block;
                width: 100%;
                page-break-before: avoid;
                page-break-after: always;
                margin-top: 36pt;
            }

            .list-unchecked {
                page-break-inside: avoid;
            }
            &.post {
                padding-bottom: 0;
                & > header {
                    h2 {
                        margin-bottom: 1cm;
                    }
                }
                nav.breadcrumbs {
                    margin-bottom: 1cm;
                }
                & > p,
                & > section > p {
                    text-indent: 1.5cm;
                    & a {
                        text-indent: 0;
                    }
                }
                & > footer {
                    display: none;
                }
            }
        }
    }


    // --- Elements

    img {
        max-width: 100% !important;
    }

    // --- Elements - tipografía y color
    $rojo: #991f1f;
    $azul: #1f1f99;
    $gris: #808080;
    $bgris: #eee;

    & > header div {
        float: left;
        color: $gris;
    }

    main {
        & > article {
            h2 {
                font-size: 18pt;
                font-weight: bold;
                color: $rojo;
            }

            & h3 {
                font-size: 16pt;
                font-weight: bold;
                color: $azul;
            }
            em { font-style: italic; }

            div[class="highlighter-rouge"],
            div[class="highlight"],
            blockquote {
                margin-bottom: 12pt;
                & p, pre {
                    padding: 0.25cm;
                    background: $bgris;
                }

                & .highlight {
                    background: $bgris;
                }
            }

            pre {
                border: 1px solid $gris;
                border-radius: 3pt;
            }

            code {
                font-size: 65%;
                white-space: pre-wrap;
                background: $bgris;
            }

            a {
                &:before {
                    content: none;
                }
            }

            a, a:visited {
                color: $azul;
                border-bottom: 0.5pt solid $azul;
                // text-decoration: underline;
            }

            strong {
                font-weight: bold;
            }

            .aHoverXl, .aHoverXs {
                a:before {
                content: none;
                // height: 0;
                }
            }

            .tagcloud-flex,
            .tagcloud-flexbox,
            .tagcloud-bores-flexbox {
                & li {
                    // height: 1em;
                    line-height: 1;

                    & a {
                        font-size: 0.7em;
                        height: auto;
                        padding: 0.25em 0.5em;
                        color: $gris;
                        border: 1px solid $gris;
                    }
                }
            }
            .list-unchecked {
                p > a {
                    color: #000;
                    border: none;
                }
            }
        }
    }

    .idiomas {
        padding: 0;
        & li {
            & span {
                color: #000;
                font-weight: bold;
            }
            & a {
                color: $gris;
                text-decoration: none;
            }
        }
    }


// --- Counters
    main {
        & > article {
            counter-reset: mah2 0;
            counter-reset: mash2 0;
                    counter-reset: mash3plus 0;
            & > h2,
            & > h3,
            & > h4,
            & > h5,
            & > h6 {
                // padding-top: 1cm;
                margin-bottom: 1cm;
                padding-bottom: 0.25cm;
                border-bottom: 1pt groove $bgris;

            }
            & > h2 {
                counter-increment: mah2 1;
                counter-reset: mah3plus 0;
                &:before {
                    content: counter(mah2) ".- ";
                }
                & ~ h3 {
                    counter-increment: mah3plus 1;
                    counter-reset: mah4plus 0;
                    width: 90%;
                    margin-left: auto;
                    margin-right: auto;

                    &:before {
                        content: counter(mah2) ". " counter(mah3plus) ".- ";
                    }
                    & ~ h4 {
                        counter-increment: mah4plus 1;
                        counter-reset: mah5plus 0;
                        &:before {
                            content: counter(mah2) ". " counter(mah3plus) ". " counter(mah4plus) ".- ";
                        }
                        & ~ h5 {
                            counter-increment: mah5plus 1;
                            counter-reset: mah6plus 0;
                            &:before {
                                content: counter(mah2) ". " counter(mah3plus) ". " counter(mah4plus) ". " counter(mah5plus) ".- ";
                            }
                            & ~ h6 {
                                counter-increment: mah6plus 1;
                                &:before {
                                    content: counter(mah2) ". " counter(mah3plus) ". " counter(mah4plus) ". " counter(mah5plus) ". " counter(mah6plus) ".- ";
                                }
                            }
                        }
                    }
                }
            }

            & > h3 {
                counter-increment: mah2 1;
                &:before {
                    content: counter(mah2) ".- ";
                }
            }

            & > section {
                counter-increment: mash2 1;
                counter-reset: tagh3 0;
                h2 {
                    &:before {
                        content: counter(mash2) ".- ";
                    }
                }
                .blog-index {
                    h3 {
                        counter-increment: tagh3 1;
                        &:before {
                            content: counter(mash2) ". " counter(tagh3) ".- ";
                        }
                    }
                }
            }
            .paginate {
                counter-reset: mapah3 11;
                & > article {
                    counter-increment: mapah3 -1;
                    & > header h3 a:before {
                        content: counter(mash2) ". " counter(mapah3) ".- ";
                        position: static;
                        background: transparent;
                    }
                }
            }
        }
    }







    article {
        h3 + p {
            // page-break-inside: avoid;

        }
    }

    .fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        // &:after {
        //     content: '\A';
        //     white-space: pre;
        // }
    }

    .print {
        display: inline-block;
        visibility: visible;
        overflow-x: visible;
        height: auto;
    }

    // Stilos

    .tagcloud-flex,
    .tagcloud-flexbox,
    .tagcloud-bores-flexbox,
    .list-unchecked {
        & li {
            // &:before{
            //     content: '';
            //     display: inline-block;
            //     vertical-align: middle;
            //     height: 100%;
            // }
            & a {
                & span:nth-child(1) { display: none; }
                & span:nth-child(2) { display: none; }
            }
        }
    }
}
