<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "{{ site.seo.type }}",
    "url": "{{ site.url }}",
    "name": "{{ site.tradename }}",
    "description": "{{ site.description[page.lang] }}",
{% if site.seo.author %}
    "sameAs": [
    {% assign assignSameSite = "" %}
    {% for red in site.seo.sameAs %}
        {% capture sameas %}
        "{{ red.username | prepend: red.url }}"
        {% endcapture %}
        {% assign assignSameSite= assignSameSite | append: sameas | append: "|||" %}
    {% endfor %}
        {% assign assignSameSite = assignSameSite | split: "|||" %}
        {{ assignSameSite | join: "," }}
    ],
    "author": {
        "@type": "Person",
        "name": "{{ site.data.people.[site.seo.author].name }}",
        "sameAs": [
        {% assign assignSamePerson = "" %}
        {% for red in site.data.people[site.seo.author].social.jobs %}
            {% capture jobs %}
            "{{ red.username | prepend: red.url }}"
            {% endcapture %}
            {% assign assignSamePerson = assignSamePerson | append: jobs | append: "|||" %}
        {% endfor %}
        {% for red in site.data.people[site.seo.author].social.me %}
            {% capture me %}
            "{{ red.username | prepend: red.url }}"
            {% endcapture %}
            {% assign assignSamePerson = assignSamePerson | append: me | append: "|||" %}
        {% endfor %}
            {% assign assignSamePerson = assignSamePerson | split: "|||" %}
            {{ assignSamePerson | join: "," }}
        ]
    },
{% endif %}
    "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ site.url }}?s={search_term}",
        "query-input": "required name=search_term"
    }
}
</script>
