{% assign pag = include.pageref %}
    "url": "{{ pag.url | prepend: site.url }}",
    "headline": "{{ pag.title }}", {% if pag.subtitle %}
    "alternativeHeadline": "{{ pag.subtitle }}", {% endif %}
    "description": "{% if pag.metaDescription %}{{ pag.metaDescription }}{% elsif pag.description %}{{ pag.description }}{% elsif pag.excerpt %}{{ pag.excerpt | strip_html | strip_newlines | truncate: 156 }}{% else %}{{ site.description[pag.lang] }}{% endif %}", {% if pag.date %}
    "datePublished": "{{ pag.date | date_to_xmlschema }}", {% endif %}
    "dateModified": "{{ site.time | date_to_xmlschema }}", {% if pag.autor %}
    "author": {
        {% include seo/structured-data-person.html person=pag.autor job=1 me=0 contact=0 %}
    }, {% elsif site.seo.author %}
    "author": {
        {% include seo/structured-data-person.html person=site.seo.author job=1 me=0 contact=0 %}
    }, {% endif %}
    "publisher": {
        {% include seo/structured-data-publisher.html %}
    }, {% if pag.images %}{% for img in pag.images limit:1 %}
    "image": "{{ site.url }}/assets/img{{ img }}", {% endfor %} {% elsif site.ogImage %}
    "image": "{{ site.url }}/assets/img{{ site.ogImage }}", {% else %}
    "image": "{{ site.url }}/assets/img/default.jpg", {% endif %}
{% if pag.categories %}{% for category in pag.categories limit:1 %}
    "articleSection": "{{ category }}", {% endfor %}{% endif %}{% if pag.tags %}
    "keywords": [ {% assign assignKw = "" %} {% for tag in pag.tags %} {% capture kw %}
        "{{ tag }}"{% endcapture %}
    {% assign assignKw = assignKw | append: kw | append: "|||" %}
    {% endfor %} {% assign assignKw = assignKw | split: "|||" %} {{ assignKw | join: "," }}
    ], {% endif %}
    "inLanguage": "{{ pag.lang }}"
