<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "{{ site.url }}",
    "name": "{{ site.title[page.lang] }}",
    "description": "{{ site.description[page.lang] }}",
    "image": {
        "@type": "ImageObject",
        "url": "{{ site.seo.logo.url | prepend: site.url }}",
        "width": "{{ site.seo.logo.w }}",
        "height": "{{ site.seo.logo.h }}"
    }, {% if site.seo.sameAs %}
    "sameAs": [{% assign assignSameSite = "" %} {% for red in site.seo.sameAs %} {% capture sameas %}
        "{{ red.username | prepend: red.url }}"{% endcapture %}
        {% assign assignSameSite= assignSameSite | append: sameas | append: "|||" %}
    {% endfor %} {% assign assignSameSite = assignSameSite | split: "|||" %} {{ assignSameSite | join: "," }}
    ], {% endif %} {% if site.seo.author %}
    "author": {
        {% include seo/structured-data-person.html person=site.seo.author job=1 me=0 contact=0 %}
    }, {% endif %}
    "publisher": {
        {% include seo/structured-data-publisher.html %}
    },
    "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ site.url }}?s={search_term}",
        "query-input": "required name=search_term"
    }
}
</script>
