<script type="application/ld+json">
{
    "@context": "http://schema.org", {% if page.path contains '_posts/' %}
    "@type":"BlogPosting",
    "articleBody": "{{ page.content | markdownify | strip_html | strip_newlines | escape_once }}",
    "mainEntityOfPage":{
        "@type":"WebPage",
        "@id":"{{ page.url | prepend: site.url }}"
    }, {% elsif page.person %}
    "@type":"AboutPage",
    "articleBody": "{{ page.content | markdownify | strip_html | strip_newlines | escape_once }}",
    "mainEntityOfPage":{
        "@type":"WebPage",
        "@id":"{{ page.url | prepend: site.url }}"
    }, {% else %}
    "@type":"WebPage", {% endif %}
    "@id":"{{ page.url | prepend: site.url }}",
    "url": "{{ page.url | prepend: site.url }}",
    "headline": "{{ page.title }}", {% if page.subtitle %}
    "alternativeHeadline": "{{ page.subtitle }}", {% endif %} {% if page.date %}
    "datePublished": "{{ page.date | date_to_xmlschema }}", {% endif %}
    "dateModified": "{{ site.time | date_to_xmlschema }}", {% if page.autor %}
    "author": {
        {% include seo/structured-data-person.html person=page.autor job=1 me=0 contact=0 %}
    }, {% endif %}
    "publisher": {
        {% include seo/structured-data-publisher.html %}
    }, {% if page.images %}{% for img in page.images limit:1 %}
    "image": "{{ site.url }}/assets/img{{ img }}", {% endfor %} {% elsif site.ogImage %}
    "image": "{{ site.url }}/assets/img{{ site.ogImage }}", {% else %}
    "image": "{{ site.url }}/assets/img/default.jpg", {% endif %}
{% if page.categories %}{% for category in page.categories limit:1 %}
    "genre": "{{ category }}", {% endfor %}{% endif %}{% if page.tags %}
    "keywords": [ {% assign assignKw = "" %} {% for tag in page.tags %} {% capture kw %}
        "{{ tag }}"{% endcapture %}
    {% assign assignKw = assignKw | append: kw | append: "|||" %}
    {% endfor %} {% assign assignKw = assignKw | split: "|||" %} {{ assignKw | join: "," }}
    ], {% endif %}
    "inLanguage": "{{ page.lang }}"
}
</script>
