<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="ltr">
{% include head.html %}

<body>
    <header>
        <h1 class="pechado">{{ site.title[page.lang] | escape }}</h1>
        <div class="print">{{ site.seo.organization.date }} &copy; {{ site.title[page.lang] | escape }}</div>
        <nav class="idiomas">
            {% include ul-page-langs.html classUlLangs="main-end" liclass="aHoverXs" %}
        </nav>
    </header>
    {% include menu.html person='Sobre ' %}

    <main>
        {{ content }}
    </main>
    <footer>
        {% include footer.html %}
    </footer>
</body>
</html>
