---
layout: default
---
<article class="page">
    <header>
        <h2>{{ page.title }}</h2>
        <p>{{ site.title[page.lang] }}</p>
        <nav>
            {% include ul-site-labs.html id=page.ref showcats=true iconcat='folder' classUlLabs="tagcloud-flexbox" classLiLabs='svg' classSpanIconLab="fl" classLiElse="aHoverXl" %}
        </nav>
        <nav>
            {% include ul-site-labs.html id=page.ref showtags=true icontag='tag' classUlLabs="tagcloud-bores-flexbox" classLiLabs='svg' classSpanIconLab="fl" classLiElse="aHoverXl" %}
        </nav>
    </header>

    <nav class="breadcrumbs">
        {% include breadcrumbs.html pageref = 'page' %}
    </nav>

    {% include filters/headercrumbs.liquid %}
    <!-- La variable pagecrumbs se asigna en breaadcrumbs.html -->
    <!-- El array ids se asigna en headercrumbs.liquid -->
    <!-- El array headercrumbs se asigna en headercrumbs.liquid -->
    {% for i in ids %}
    <style type="text/css" media="print">
        #{{ i }}:after {
            content: "\A {{ pagecrumbs }} {{ headercrumbs[forloop.index0 ] }} \2714";
            white-space: pre-wrap;
            font-size: 65%;
            font-weight: normal;
            color: #808080;
        }
    </style>
    {% endfor %}
    <!-- assigns --> {% assign headercrumbs = null %} {% assign pagecrumbs = null %} {% assign ids = null %}


    {{ content }}

    <footer>
        {% if page.compartir %}
        <nav class="sociales">
            <header class="abcenter">
                <h4>{{ site.data.t[page.lang].page.compartir }} <b class="pechado">{{ page.title }}</b></h4><span class="cross-center pl">{% include svg/icon-share.svg hidden='true' id='page-share--' %}</span>
            </header>
            <ul class="abcenter">
                {% include ul-social.html ul="share" liclass="share" spansvg="circulo" spant="titulo" spanth="titulo-hover" %}
            </ul>
        </nav> {% endif %}
    </footer>
</article>
