---
layout: default
---
<article class="post">

    <header class="justify">
        <h2>{{ page.title }}</h2>
        <figure>

        </figure>

        <p class="main-start cross-center">
            <small><time datetime="{{ page.date | date_to_xmlschema }}">{% include date.html pageref="page" date=site.time %}</time> &nbsp;&nbsp;</small>
        {% if page.autor %}
            {% capture svgid %}
                post-show--{{ page.autor }}
            {% endcapture %}
            <strong>
                <small class="svg cross-centro"><a href="#"><span class="cross-centro svg--user">{% include svg/icon-user.svg hidden='true' iconclass='svg--user' id=svgid %}</span>{{ page.autor }}</a></small>
            </strong>
        {% endif %}
        </p>

        {% include nav-page-tags.html show="both" ulclass="main-end" lielse="aHoverXl" iconid="post-show" spanclass="fl" catsvg="folder" tagsvg="tag" %}

    </header>

    <!-- <div itemprop="articleBody"> -->
        {{ content }}
    <!-- </div> -->
    {% for user in site.data.people[page.autor].social.jobs %}
        {% if user.title == 'Twitter' %} {% capture usertwitter %} {{ user.username }} {% endcapture %} {% endif %}
    {% endfor %}
    <span>{{ usertwitter }}</span>

    <nav>
        <ul>
            <li class="compartir"><a class="facebook" href="http://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}" target="_blank">Facebook</a></li>
            <li class="compartir"><a class="twitter" href="http://twtter.com/intent/tweet?url={{ page.url | prepend: site.url }}&text={{ page.title | url_encode }}&via={{ usertwitter }}" target="_blank">Tweet</a></li>
            <li class="compartir"><a class="googleplus" href="https://plus.google.com/share?url={{ page.url | prepend: site.url }}" target="_blank">Google+</a></li>
            <li class="compartir"><a class="pinterest" href="https://pinterest.com/pin/create/button/?url={{ page.url | prepend: site.url }}&media={{ page.fotos.foto1.url }}" target="_blank">Pinterest</a></li>
        </ul>
    </nav>

</article>
