---
layout: default
---
<article class="post">

    <header class="justify">
        <h2>{{ page.title }}</h2>
        <figure>

        </figure>

        <p class="main-start cross-center">
            <small><time datetime="{{ page.date | date_to_xmlschema }}">{% include filters/date.html pageref="page" date=site.time %}</time> &nbsp;&nbsp;</small>
        {% if page.autor %}
                {% capture svgid %}
                    post-show--{{ page.autor }}
                {% endcapture %}
            <strong>
                <small class="svg cross-centro"><a href="#"><span class="cross-centro flp0">{% include svg/icon-user.svg hidden='true' id=svgid %}</span>{{ page.autor }}</a></small>
            </strong>
        {% endif %}
        </p>
    {% if page.tags.size > 0 or page.categories.size > 0 %}
        <nav>
            {% include ul-page-labs.html id="post-show" showcats=true showtags=true iconcat="folder" icontag="tag" classUlLabs="tagcloud-flex" classLiLabs='svg' classSpanIconLab="fl" classLiElse="aHoverXl" %}
        </nav>
    {% endif %}
    </header>

    {{ content }}

    <footer>
        {% if page.compartir %}
        <div role="group" class="sociales">
            <div role="group" class="abcenter">
                <h4>{{ site.data.t[page.lang].page.compartir }} <b class="pechado">{{ page.title }}</b></h4><span class="cross-center pl">{% include svg/icon-share.svg hidden='true' id='post-show--' %}</span>
            </div>
            <ul class="abcenter">
                {% include ul-social.html ul="share" baseref="Blog" liclass="share" spansvg="circulo" spant="titulo" spanth="titulo-hover" %}
            </ul>
        </div> {% endif %}
    </footer>
</article>
