.post {
    & > header {
        & > p,
        & > nav {
            @include hoverColorSvg;
        }
    }
}

.paginate,
.cat-index {
    .list-unchecked {
        & > header strong {
            @include hoverColorSvg;
        }
    }
}

.post {
    padding-bottom: 10vmin;

    & > header {
        padding: 3em 0 1em 0;
        margin-bottom: 4em;
        border-bottom: $border-default;

        h2 { margin-bottom: 3em; }
        h2, h3, h4, h5, h6 {width: 100%;}
    }

    & .pepe {
        @include sociales-svg-li-box((selector: pepe--, ss: $ss-item)...);

        & li {
            margin: 1em;
            border-radius: 5px;

            & a {
                width: 1px;
                padding: 0 0.5em;
                overflow: hidden;
                color: transparent;
                transition: width $ss-item ease;
            }

            & > span {
                padding-left: 0.5em;
            }

            &:hover, &:focus, &:target {
                & a {
                    width: 100%;
                    color: $color-title;
                }
            }
        }

        & svg {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            width: $icon-x;
            height: $icon-y;
            vertical-align: middle;
        }
    }
}

.paginate,
.cat-index {
    padding-bottom: 4em;
    .list-unchecked {
        padding-bottom: 2em;
        & > label {
            display: inline-flex;
            float: left;
            width: 0.25em;
            & svg {
                width: 3vmin;
                height: 3vmin;
            }
            &:before { bottom: 0.25em; }
        }
        & > header {
            h3, h4 {
                margin: 0;
                text-align: left;
            }
            & > small { color: $color-small; }
        }
    }
}

.contenedor-redes-sociales {
    $ah: 1.6em;
    $am: 0.3em;
    margin: 20px 0;
    padding: 20px;
    text-align: center;

    & a {
        position: relative;
        display: inline-block;
        width: 8em;
        height: 1.6em;
        line-height: 1.5em;
        margin: 0.3em;
        padding: 0;
        color: #fff;
        border-radius: 50px;
        background: #fff;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);


        & span.titulo,
        & span.titulo-hover {
            position: absolute;
            margin: 0 auto;
            font-size: 1em;
            text-align: center;
            // font-weight: 400;
            transition: $ss-item;
        }

        & span.titulo {
            right: 1em;
        }

        & span.titulo-hover {
            opacity: 0;
            left: 1em;
        }

        & span.circulo {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            float: left;
            width: 1.35em;
            height: 1.3em;
            // line-height: 30px;
            margin: 1px;
            color: #fff;
            border-radius: 50%;
            transition: all $ss-item;

            & svg {
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                width: 0.8em;
                height: auto;
                padding-bottom: 0.15em;
                // vertical-align: middle;
                vertical-align: sub;
            }
        }

        &:hover, &:focus, &:target {
            & span.circulo {
                left: 101%;
                overflow: hidden;
                margin-left: -1.5em;
                background: #fff;
            }
            & span.titulo {
                opacity: 0;
            }
            & span.titulo-hover {
                opacity: 1;
                color: #fff;
            }
        }
    }
    // ----- Brand colors -----
    @each $name, $icon in $mapSocialSimple {
        & .#{$name} {
            @if map-get($icon, bg) {
                border: 2px solid map-get($icon, bg);
            }

            & span.circulo,
            &:hover, &:focus, &:target {
                @if map-get($icon, bg) {
                    background: map-get($icon, bg);
                    & svg {
                        fill: $bg-body;
                    }
                }

                & span.circulo {
                    @if map-get($icon, bg) {
                        color: map-get($icon, bg);
                        & svg {
                            fill: map-get($icon, bg);
                        }
                    }
                }
            }
            & span.titulo {
                @if map-get($icon, bg) {
                    color: map-get($icon, bg);
                }
            }
        }
    }
}
    /*--------------Mediaqueries--------------*/

@media screen and (max-width: 480px) {
    .contenedor-redes-sociales a {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
}
