.post {
    & > header {
        & > p,
        & > nav {
            @include hoverColorSvg;
        }
    }
}

.paginate,
.cat-index {
    .list-unchecked {
        & > header strong {
            @include hoverColorSvg;
        }
    }
}

.post {
    padding-bottom: 10vmin;

    & > header {
        padding: 3em 0 1em 0;
        margin-bottom: 4em;
        border-bottom: $border-default;

        h2 { margin-bottom: 3em; }
        h2, h3, h4, h5, h6 {width: 100%;}
    }

    & .pepe {
        @include sociales-svg-li-box((selector: pepe--, ss: $ss-item)...);

        & li {
            margin: 1em;
            border-radius: 5px;

            & a {
                width: 1px;
                padding: 0 0.5em;
                overflow: hidden;
                color: transparent;
                transition: width $ss-item ease;
            }

            & > span {
                padding-left: 0.5em;
            }

            &:hover, &:focus, &:target {
                & a {
                    width: 100%;
                    color: $color-title;
                }
            }
        }

        & svg {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            width: $icon-x;
            height: $icon-y;
            vertical-align: middle;
        }
    }
}

.paginate,
.cat-index {
    padding-bottom: 4em;
    .list-unchecked {
        padding-bottom: 2em;
        & > label {
            display: inline-flex;
            float: left;
            width: 0.25em;
            & svg {
                width: 3vmin;
                height: 3vmin;
            }
            &:before { bottom: 0.25em; }
        }
        & > header {
            h3, h4 {
                margin: 0;
                text-align: left;
            }
            & > small { color: $color-small; }
        }
    }
}

// Botonera Nav para compartir en Redes Sociales
.compartir {
    @include sociales-svg-a-box-left-right;
}
